
.import-rename-filename {
  color: $brand-primary
}

.gray-text {
    color: $gray-light;
}

.small-margin-bottom {
    margin-bottom: 5px;
}

.large-margin-top {
    margin-top: 30px;
}

.assay-data-file-label {
    color: $text-color;
    font-weight: bold;
}
