.attachment-card {
    border: 1px solid $border-color;
    border-radius: 4px;
    display: inline-flex;
    min-height: 48px;
    width: 234px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.05);
    }
}

.attachment-card.attachment-unavailable {
    .attachment-card__icon_tile {
        background-color: $red-shadow;
        color: $red-border;
    }

    &:hover {
        cursor: not-allowed;
        box-shadow: none;
    }

    .attachment-card__name {
        color: $red-border;
    }

    .attachment-card__content {
        width: 180px;
    }
}

.attachment-card__body {
    display: inline-flex;
}
.attachment-card__icon {
    height: 46px;
    padding-top: 7px;
    text-align: center;
    width: 48px;

    .attachment-card__icon_img,
    .attachment-card__icon_tile {
        height: 32px;
        width: 32px;
    }

    .attachment-card__icon_tile {
        background-color: $blue-icon-background;
        border-radius: 50%;
        color: $brand-secondary;
        font-size: 18px;
        padding-top: 7px;
        text-align: center;
    }
}
.attachment-card__content {
    border-left: 1px solid $border-color;
    padding: 5px 8px;
    width: 138px;

    .fa-check-circle {
        color: $brand-success;
    }
}
.attachment-card__menu {
    vertical-align: middle;
    width: 48px;

    .caret {
        display: none;
    }

    .dropdown-toggle {
        color: $gray-light;
        display: block;
        height: 100%;
        padding-left: 50%;
        padding-top: 14px;
        font-size: 14px;

        &:focus, &:hover {
            color: $gray-dark;
        }
    }
}
.attachment-card__name {
    color: $brand-primary;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.attachment-card__size {
    color: $gray-light;
    font-size: 14px;
}
.attachment-card__description {
    color: $gray-light;
    font-size: 12px;
    overflow-wrap: anywhere;
}

.attachment-card__img {
    max-width: 70px;
    cursor: pointer;
}
.attachment-card__img_modal {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
