
.component-crumbcreate--container {

  .breadcrumb {
    padding: 8px 20px;
  }

  .createdmodified {
    padding: 8px 20px;
    text-align: right;
  }
}

// Issue 49352: Breadcrumb seprator should be selectable / copyable
.breadcrumb > li + li:before {
    padding: 0 2px;
    content: '';
}
.breadcrumb > li.separator {
    color: $gray-light;
    font-weight: bold;
    padding-left: 0;
}
