.bar-chart-viewer-empty {
    height: 418px;
}

.base-bar-chart a.bar-individual {
    cursor: pointer;
}

.horizontal-bar--chart-container {
    margin-top: 30px;
}

.horizontal-bar--chart-legend {
    color: $text-muted;
    cursor: pointer;
}

.horizontal-bar-section {
    width: 100%;
    margin-bottom: 20px;
}

.panel-body .horizontal-bar-section:not(:first-child) {
    margin-top: 15px;
}

.horizontal-bar--title {
    width: 150px;
    padding-right: 5px;
    overflow-wrap: anywhere;
}

.horizontal-bar--subtitle, .horizontal-bar--empty-text {
    color: $text-muted;
}

.horizontal-bars {
    width: 100%;
}

.horizontal-bar-part {
    display: inline-block;
    position: relative;
    height: 20px;
    outline: 1px solid $table-border-color;
    vertical-align: bottom;
}

.horizontal-bar--linked {
    cursor: pointer;
}

.horizontal-bar--open {
    background: white;
}

.horizontal-bar--link {
    display: block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.bar-insights--checkedout {
    background: #faebcc;
}
.bar-insights--instorage {
    background: #dff0d8;
}
.bar-insights--aliquots {
    background: rgba(0, 103, 197, 0.145);
}

.cell-legend-row {
    .cell-legend-icon {
        display: inline-block;
        width: 30px;
        height: 30px;

        .cell-legend-circle {
            display: flex;
            margin-left: 6px;
            margin-top: 6px;
        }

        .cell-lock {
            opacity: 0.5;
            display: flex;
            margin-left: 8px;
            margin-top: 6px;
        }
    }

    .cell-legend-icon-border {
        border: 1px solid #979797;
    }

    .cell-legend-icon-spacing {
        margin-bottom: 5px;
    }

    .cell-legend-label {
        padding-left: 10px;
        display: inline-block;
        overflow: hidden;
    }
}
.chart-body {
    position: relative;
    min-height: 500px;
}
.report-list__chart-preview .chart-body {
    min-height: 300px;
}
.chart-panel__heading {
    display: flex;
}
.chart-panel__heading-title {
    flex-grow: 1;
    font-size: 18px;
    vertical-align: middle;
}
.chart-panel {
    margin-bottom: 16px;
    min-height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}
.chart-panel__hide-icon {
    display: flex;
    flex-direction: row-reverse;
}
.chart-panel__hide-icon .btn {
    border-color: transparent;
}
.chart-panel__hide-icon .btn:hover {
    border-color: $border-color;
    background-color: transparent;
}
.chart-loading-mask {
    position: absolute;
    height: 100%;
    width: 100%;
}
.chart-loading-mask__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, .05);
}
.chart-loading-mask > .loading-spinner {
    padding: 8px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.r-report__images {
    align-items: end; // This aligns the bottom of every image with each other, useful for aligning x-axis
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.r-report__image img {
    max-width: 100%;
}
.r-report__files {
    display: flex;
    column-gap: 10px;
}
.r-report__files .attachment-card__name {
    padding-top: 8px;
}
.r-report__files .attachment-card:hover {
    text-decoration: none;
}

.chart-builder-modal {
    width: calc(100% - 100px);
    min-width: 850px;
}
.chart-builder-modal .col-left {
    height: 560px;
    width: 116px;
    border-right: solid 1px $gray-border-light;
}
.chart-builder-modal .col-right {
    height: 560px;
    width: calc(100% - 116px)
}

.chart-builder-type {
    border: solid 1px transparent;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;

    .title {
        text-align: center;
        color: $text-color;
    }

    &.selected {
        background-color: $blue-icon-background;
        border-color: $blue-border-solid;
    }

    &.selectable:hover {
        cursor: pointer;
        background-color: $gray-lighter;
        border-color: $gray-border;
    }
}

.chart-builder-type-inputs {
    margin: 0;
    border-bottom: solid 1px $gray-border-light;
}

.chart-builder-modal .fields-col {
    min-height: 160px;
    border-left: solid 1px $gray-border-light;
}

.chart-builder-modal .checkbox-input {
    padding-top: 15px;
    cursor: pointer;

    input {
        margin-right: 5px;
    }
}

.chart-builder-preview-body {
    min-height: 355px;
    .chart-loading-mask {
        width: 97%;
    }
}
