.bar-chart-viewer-empty {
    height: 418px;
}

.base-bar-chart a.bar-individual {
    cursor: pointer;
}

.horizontal-bar--chart-container {
    margin-top: 30px;
}

.horizontal-bar--chart-legend {
    color: $text-muted;
    cursor: pointer;
}

.horizontal-bar-section {
    width: 100%;
    margin-bottom: 20px;
}

.panel-body .horizontal-bar-section:not(:first-child) {
    margin-top: 15px;
}

.horizontal-bar--title {
    width: 150px;
    padding-right: 5px;
    overflow-wrap: anywhere;
}

.horizontal-bar--subtitle, .horizontal-bar--empty-text {
    padding-top: 5px;
    color: $text-muted;
}

.horizontal-bars {
    width: 100%;
}

.horizontal-bar-part {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 100%;
    outline: 1px solid $text-color-gray;
    vertical-align: bottom;
}

.horizontal-bar--linked {
    cursor: pointer;
}

.horizontal-bar--open {
    background: white;
}

.horizontal-bar--link {
    display: block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.bar-insights--checkedout {
    background: #faebcc;
}
.bar-insights--instorage {
    background: #dff0d8;
}
.bar-insights--aliquots {
    background: rgba(0, 103, 197, 0.145);
}

.cell-legend-row {
    .cell-legend-icon {
        display: inline-block;
        width: 30px;
        height: 30px;

        .cell-legend-circle {
            display: flex;
            margin-left: 6px;
            margin-top: 6px;
        }

        .cell-lock {
            opacity: 0.5;
            display: flex;
            margin-left: 8px;
            margin-top: 6px;
        }
    }

    .cell-legend-icon-border {
        border: 1px solid #979797;
    }

    .cell-legend-icon-margin {
        margin-bottom: 5px;
    }

    .cell-legend-label, .cell-legend-data {
        padding-left: 10px;
        display: inline-block;
        overflow: hidden;
    }
}
.chart-body {
    position: relative;
}
.report-list__chart-preview .chart-body {
    min-height: 300px;
}
.chart-menu-checkbox {
    margin-right: 8px;
}
.chart-menu-checkbox.fa-check-square {
    color: $grid-action-item-color;
}
.chart-list {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
}
.chart-panel__heading {
    display: flex;
}
.chart-panel__heading-title {
    flex-grow: 1;
    font-size: 18px;
    vertical-align: middle;
}
.chart-panel {
    min-height: 100px;
    padding: 15px;
}
.chart-panel__hide-icon {
    display: flex;
    flex-direction: row-reverse;
}
.chart-panel__hide-icon .btn {
    border-color: transparent;
}
.chart-panel__hide-icon .btn:hover {
    border-color: $border-color;
    background-color: transparent;
}
.chart-loading-mask {
    position: absolute;
    height: 100%;
    width: 100%;
}
.chart-loading-mask__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, .05);
}
.chart-loading-mask > .loading-spinner {
    padding: 8px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.r-report__images {
    align-items: end; // This aligns the bottom of every image with each other, useful for aligning x-axis
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.r-report__image img {
    max-width: 100%;
}
.r-report__files {
    display: flex;
    column-gap: 10px;
}
.r-report__files .attachment-card__name {
    padding-top: 8px;
}
.r-report__files .attachment-card:hover {
    text-decoration: none;
}

.chart-builder-type-option > img,
.chart-builder-type-option > .fa {
    margin-right: 5px;
}
.chart-builder-type-option--value {
    margin-top: -27px;
    margin-left: 5px;
}

.chart-builder-modal {
    width: calc(100% - 100px);
    min-width: 850px;
}

.lk-modal .chart-builder-modal .modal-body {
    display: flex;
    gap: 8px;
    padding: 0;
    overflow: hidden;
}

.chart-settings {
    flex: 1;
    min-width: 330px;
    border-right: solid 1px $gray-border-light;
    padding: 15px;
    overflow-y: auto;
}

.chart-builder-modal__chart-preview h4,
.chart-settings h4 {
    margin: 0 0 8px;
}

.chart-builder-modal__chart-preview {
    flex: 3;
    overflow: auto;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.chart-builder-preview-body {
    flex: 1;
}

.chart-builder-preview-body .svg-chart__chart {
    height: 100%;
}

.chart-builder-modal .fields-col {
    min-height: 160px;
    border-left: solid 1px $gray-border-light;
}

.chart-builder-modal .checkbox-input {
    cursor: pointer;

    input {
        margin-right: 5px;
    }
}
.chart-builder-modal .checkbox-input {
    padding-top: 15px;
}

.chart-builder-modal .select-input-with-footer {
    margin-bottom: 0;
}

.chart-builder-modal .field-footer-section {
    color: $text-muted;
    margin-bottom: 15px;
    input {
        color: $text-color;
    }
}
.chart-builder-field-footer-input {
    width: 60px;
    height: 24px;
    display: inline;
    margin: 5px 0 0 5px;
}

.chart-field-additional-options,
.chart-field-trendline-options {
    width: 350px;
}

.chart-builder-scale-range-inputs {
    padding-left: 50px;
}

.chart-builder-asymptote-inputs {
    padding-left: 80px;
}

.chart-builder-modal .field-option-icon {
    font-size: 20px;
    color: $text-muted;
    cursor: default;
    padding-top: 5px;

    &:hover {
        color: $text-color;
    }
}

.field-option-radio-group .radio-input-wrapper {
    display: inline-block;
    padding-left: 15px;

    .radioinput-label {
        padding-left: 5px;
        cursor: default;
    }

    .radioinput-label.disabled {
        color: $text-muted;
    }
}
.field-option-radio-group-block {
    padding-bottom: 10px;

    .radio-input-wrapper {
        display: block;
    }
}

.chart-builder-preview-body {
    min-height: 355px;
    .chart-loading-mask {
        width: 97%;
    }
}

.svg-chart__chart {
    overflow: auto;
}

.equation {
    font-family: monospace;
    font-size: 13px;
}

.curve-fit-statistics__header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.curve-fit-statistics__title {
    font-size: 16px;
    font-weight: normal;
}

.curve-fit-series-cell {
    display: flex;
    align-items: center;
    gap: 5px;
}

.curve-fit-series-cell__name {
    padding-top: 2px;
}

.curve-fit-value-cell {
    text-align: right;
}
