.bar-chart-viewer-empty {
    height: 418px;
}

.base-bar-chart a.bar-individual {
    cursor: pointer;
}

.horizontal-bar--chart-container {
    margin-top: 30px;
}

.horizontal-bar--chart-legend {
    color: $text-muted;
    cursor: pointer;
}

.horizontal-bar-section {
    width: 100%;
    margin-bottom: 20px;
}

.panel-body .horizontal-bar-section:not(:first-child) {
    margin-top: 15px;
}

.horizontal-bar--title {
    width: 150px;
    padding-right: 5px;
    overflow-wrap: anywhere;
}

.horizontal-bar--subtitle, .horizontal-bar--empty-text {
    color: $text-muted;
}

.horizontal-bars {
    width: 100%;
}

.horizontal-bar-part {
    display: inline-block;
    position: relative;
    height: 20px;
    outline: 1px solid $table-border-color;
    vertical-align: bottom;
}

.horizontal-bar--linked {
    cursor: pointer;
}

.horizontal-bar--open {
    background: white;
}

.horizontal-bar--link {
    display: block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.bar-insights--checkedout, .bar-insights--consumed {
    background: #faebcc;
}
.bar-insights--instorage, .bar-insights--available {
    background: #dff0d8;
}
.bar-insights--locked {
    background: #f2dede;
}
.bar-insights--aliquots {
    background: rgba(0, 103, 197, 0.145);
}

.cell-legend-row {
    .cell-legend-icon {
        display: inline-block;
        width: 30px;
        height: 30px;

        .cell-legend-circle {
            display: flex;
            margin-left: 6px;
            margin-top: 6px;
        }

        .cell-lock {
            opacity: 0.5;
            display: flex;
            margin-left: 8px;
            margin-top: 6px;
        }
    }

    .cell-legend-icon-border {
        border: 1px solid #979797;
    }

    .cell-legend-icon-spacing {
        margin-bottom: 5px;
    }

    .cell-legend-label {
        padding-left: 10px;
        display: inline-block;
        overflow: hidden;
    }
}

.r-report__images img {
    max-width: 100%;
}
