
.container-expandable {
  border: 1px solid lightgray;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &.disabled {
    cursor: default;
  }
}

.container-expandable-detail {
  padding: 15px 20px 15px 5px;
  max-width: 100%;
  position: relative;
  cursor: pointer;

  h4 {
    display: inline;
    color: $brand-primary;
  }

  &:hover {
      background: $brand-primary;
      color: $white;

      h4, a {
          color: $white;
      }
  }
}

.container-expandable-icononly {
    padding: 15px 20px 15px 5px;
    max-width: 100%;
    position: relative;

    h4 {
        display: inline;
        color: $brand-primary;
    }

    &:hover, &.container-expandable__active {
        background: $gray-lighter;
    }
}

.container-expandable-child__img {
  float: left;
}

.container-expandable-child__inactive {
  border-bottom: 1px solid lightgray;
}

.container-expandable-child__chevron {
  margin-top: 17px;
  cursor: pointer;

  & i {
    width: 14px;
  }
}

.container-expandable-heading {
  padding: 3px 8px;

  &--content {
    padding-bottom: 10px;
  }

  &--clause {
    margin-bottom: 5px;
    margin-left: 50px;
  }

  &--more-link {
    white-space: nowrap;
  }
}
