
.container-expandable {
  border: 1px solid lightgray;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &.disabled {
    cursor: default;
  }
}

.container-expandable-blue {
  padding: 15px 20px 15px 5px;
  max-width: 100%;
  position: relative;
  cursor: pointer;

  h4 {
    display: inline;
    color: $brand-primary;
  }

  &:hover {
      background: $brand-primary;
      color: $white;

      h4, a {
          color: $white;
      }
  }
}

.container-expandable-grey {
    padding: 15px 20px 15px 5px;
    max-width: 100%;
    position: relative;
    cursor: pointer;

    h4 {
        display: inline;
        color: $brand-primary;
    }

    &:hover, &.container-expandable__active {
        background: $gray-lighter;
    }
}

.container-expandable-child__img {
  float: left;
}

.container-expandable-child__inactive {
  border-bottom: 1px solid lightgray;
}

.container-expandable-child__chevron {
  margin-top: 17px;

  & i {
    width: 14px;
  }
}

.container-expandable-heading {
  padding: 3px 8px;

  &--content {
    padding-bottom: 10px;
  }

  &--clause {
    margin-bottom: 5px;
    margin-left: 50px;
  }

  &--more-link {
    white-space: nowrap;
  }
}

.archived-product-menu {
    .container-expandable {
        margin-top: 10px;
        border: none;
        border-top: 1px solid lightgray;
    }

    .container-expandable-child__inactive {
        border: none;
    }

    .container-expandable-child__chevron{
        margin-top: 4px;
    }

    .container-expandable-grey {
        &:hover, &.container-expandable__active {
            background: none;
        }

    }
}

.container-listing-left {
    .container-expandable-blue, .container-expandable-grey {
        padding: 10px 20px 10px 5px;
    }

    .container-expandable {
        border: none;
    }

    .container-expandable-child__inactive {
        border: none;
    }

    .container-expandable-child__chevron{
        margin-top: 8px;
    }

    &.container-data-type-selector {
        .container-expandable-child__chevron{
            margin-top: 4px;
        }

        .container-expandable-grey {
            width: 160px;
            &:hover {
                color: $gray-light;
            }

            &:hover, &.container-expandable__active {
                background: none;
            }

            .container-expandable-child__chevron {
                color: $gray-light;

                &:hover {
                    color: $gray-light;
                    cursor: pointer;
                }
            }
        }
    }

    .container-expandable-heading {
        padding: 3px 8px;

        &--content {
            padding-bottom: 10px;
        }

        &--clause {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0;
        }

        &--more-link {
            white-space: nowrap;
        }
    }
}
