.dataset_data_row_uniqueness_container {
    margin-top: 17px;
}

.dataset_advanced_settings_select {
    margin-left: 7px;
    margin-right: 7px;
}

.dataset_advanced_settings_select_container {
    margin-bottom: 5px;
}
