.dataset_data_row_uniqueness_container {
    margin-top: 17px;
}

.dataset_data_row_uniqueness_keyField {
    margin-top: 15px;
}

.dataset_data_row_element_show {
    opacity: 1;
}

.dataset_data_row_element_hide {
    opacity: 0.5;
}
