
.domain-form-panel {
  min-width: 1000px;
  margin-bottom: 0 !important;
  margin-top: 25px;
}

.domain-form-panel input[type="checkbox"],
.domain-form-panel input[type="radio"],
.domain-modal input[type="checkbox"],
.domain-modal input[type="radio"] {
  width: 17px;
  height: 17px;
  position: relative !important;
  margin-right: 7px;
  vertical-align: text-bottom;
  cursor: pointer;
}

.domain-form-panel input[type="radio"] {
    &.input-left-spacing {
        margin-left: 15px;
    }
}

.domain-toolbar-export-btn-icon {
    color: $brand-primary;
}

.domain-search-text {
  padding: 5px 10px 0 0;
}

.domain-search-input {
    width: 300px;
    display: inline-block;
}

.domain-form * {
    scroll-margin: 78px;
}

.app-body .domain-form * {
    scroll-margin: 134px;
}

.app-body.with-sub-nav .domain-form * {
    scroll-margin: 231px;
}

.domain-form .domain-field-row:first-child {
    border-top: none;
}

.domain-form__file-preview__text {
  font-weight: bold;
  margin-bottom: 10px;
}

.domain-form__file-preview__toggle {
  margin-bottom: 10px;
}

.domain-form__file-preview {
    margin-top: 15px;
    max-width: 100vw; // 100% of viewport width
}

.domain-zero-padding {
  padding: 0
}

.form-control.naming-pattern-border-warning {
    border-color: $yellow-border;
    box-shadow: inset 0 0 5px 0 $yellow-shadow;
    outline: none;
}

.domain-summary-selection {
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 0;
}

.domain-summary-selectAll {
    padding-left: 7px;
    margin: 0;
}

.domain-row-base-fields {
    padding: 0;
    margin: 0;
}

.domain-row-base-fields-position {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.domain-field-row {
  border: 1px solid;
  margin-bottom: -1px;
  background-color: white;
  outline: none;

  &.selected {
    background-color: $blue-bkgrd-selected;
  }
}

.domain-field-header {
    padding: 0 0 15px 40px;
}

.domain-row-border-default {
  border-color: $gray-border;
}

.domain-row-border-selected {
  border-color: $blue-border-solid;
  margin-bottom: 0; // to offset the margin-bottom from domain-field-row
}

.domain-row-border-error {
  border-color: $red-border;
  box-shadow: inset 0 0 5px 0 $red-shadow;
  margin-bottom: 0; // to offset the margin-bottom from domain-field-row
}

.domain-row-border-warning {
  border-color: $yellow-border;
  box-shadow: inset 0 0 5px 0 $yellow-shadow;
  margin-bottom: 0; // to offset the margin-bottom from domain-field-row
}

.domain-warning-icon {
  color: $brand-warning;
}

.domain-row-border-dragging, .domain-field-row.dragging {
  border-color: $blue-border-solid;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.19), 0 6px 6px 0 rgba(0,0,0,0.23);
}

.domain-field-toolbar {
    border-top: none;
    padding: 7px 0 7px;
    margin-bottom: 15px;
}

.domain-field-toolbar-right-aligned {
    display: flex;
}

.domain-toolbar-toggle-summary {
    padding-left: 10px;
}

.domain-field-top-noBuffer {
    padding-top: 0;
}

.domain-field-row .row {
  margin-right: 0;
  margin-left: 0;
}

.domain-field-checkbox-container {
  margin-left: 0;
}

.domain-field-checkbox {
    height: 0;
    margin-top: 3px !important;
}

.domain-field-checkbox-label {
    margin: 0 0 0 8px !important;
    color: gray;
}

.domain-field-checkbox-margin {
    margin-top: 2px;
}

.domain-field-details {
  color: $gray-dark;
  height: 40px;
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.domain-field-details-expanded {
  color: $gray-dark;
  display: table-cell;
  padding-top: 15px;
  width: 100%;
  overflow-wrap: anywhere;
};

.domain-field-buttons-expanded {
  float: right;
  display: inline-flex;
  height: min-content;
  padding-top: 9px;
};

.domain-field-buttons {
  float: right;
  display: inline-flex;
  height: min-content;
  padding-top: 9px;
};

.domain-row-details-container {
    display: flex;
};

.domain-row-action-section {
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
    width: 80px;

    .domain-field-expand-icon {
        padding-left: 15px;
    }

    .domain-field-check-icon {
        display: inline-block;
        padding-left: 10px;
        margin: 0;
    }
}

.domain-field-expand-icon, .domain-form-expand-btn {
    color: $gray-no-highlight;

    &:hover {
        color: $blue-highlight;
        cursor: pointer;
    }
}

.domain-field-delete-icon {
    color: $gray-no-highlight;

    &:hover {
        color: $brand-danger;
        cursor: pointer;
    }
}

.domain-field-lock-icon {
    margin: 5px 6px 0 0;
    color: $gray-no-highlight;
    cursor: pointer;
}

.domain-help-icon {
  margin: 0 0 2px 0;
  height: 10px;
}

.domain-help-icon:hover {
  cursor: pointer;
}

.domain-form-add {
  color: $gray-dark;
  cursor: pointer;
}

.domain-form-manual-section {
    text-align: center;
}

.domain-form-collapse-btn {
  color: white;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.domain-form-no-field-panel {
  height: 53px;
  margin: 25px 0px 20px 0px;
  padding: 15px 20px;
  border-radius: unset;
  color: #777777;
}

.domain-row-expanded {
  background-color: $gray-lighter;
  margin-right: 0;
}

.domain-row-button {
  font-size: 12px;
  margin-left: 12px;
  height: 28px;
  height: min-content;  /* Not supported in older browsers so leave px height as well */
}

.domain-row-remove-button {
  background-color: $brand-danger;
  background-image: none;
  color: white;
}

.domain-field-section-heading {
  color: $gray-dark;
  font-weight: bold;
}

.domain-field-padding-top {
  padding-top: 20px;
}

.domain-field-padding-bottom {
  padding-bottom: 20px;
}

.domain-field-no-side-padding {
  padding-right: 0;
  padding-left: 0;
}

.domain-field-section-hdr {
  margin-top: 20px;
}

.domain-field-label {
  color: $gray;
  padding: 7px 0 5px 0;
}

/* Text Field Options */
.domain-text-options-col {
  margin-top: 3px;
}

.domain-text-options-radio1 {
  margin: 0 15px 5px 5px !important;
}

.domain-text-options-radio2 {
  margin: 14px 15px 5px 5px !important;
}

.domain-text-options-length {
  margin: 6px 20px 0 0 !important;
}

.domain-text-option-scannable {
    display: inline;
}

.domain-text-length-field {
  width: 80px;
  display: inline;
  margin: 0 5px 0 5px;
}

.domain-text-label {
  color: gray;
}

.domain-field-float-left {
  float: left;
}

.domain-field-float-right {
  float: right;
}

.domain-help-table {
  border: 1px solid black;
}

.domain-field-lookup-validator-row {
  display: inline-flex;
  transform: translateY(50%);
  margin-left: 10px;
}

.domain-field-lookup-validator-label {
  margin: 3% 0 0 10px;
  white-space: nowrap;
}

.domain-lookup-validator-text {
  margin-left: 10px;
}

.domain-validator-error-msg {
  color: red;
  margin-top: 3%;
  margin-right: 20px;
}

.domain-adv-footer {
  font-size: 14px;
}

.domain-adv-link:hover {
  cursor: pointer;
}

.domain-adv-apply-btn {
   margin-left: 12px;
}

.domain-adv-cancel-btn {
  float: left;
}

.domain-adv-display-options {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.domain-adv-misc-options {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 14px 0;
}

.domain-adv-default-value {
  width: 100px;
}

.domain-adv-thick-row {
  padding-bottom: 10px;
}

.domain-adv-default-link {
  padding-top: 2%;
}

.domain-adv-checkbox {
  cursor: default
}

.domain-floating-hdr {
    background-color: $white;
    border-color: transparent;
    border-bottom-color: #cccccc;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    color: $gray-dark;
    position: sticky;
    top: 0;
    z-index: 1;

    .domain-row-action-section {
        padding-top: 0;
    }

    .domain-field-check-icon {
        padding-left: 10px;
    }
}
.app-body .domain-floating-hdr {
    top: 56px;
}

.app-body.with-sub-nav .domain-floating-hdr {
    top: 97px;
}

.domain-form-preHdr-row {
  left: -24px;
}

.domain-form-hdr-margins {
    padding: 0 0 15px 0;
}

.domain-row-handle {
  padding: 15px 0 0 10px;
  display: table-cell;
  width: 30px;
  vertical-align: top;
  color: $gray-no-highlight;

  &:hover {
      color: $blue-highlight;
  }

  &.disabled {
      opacity: 0.5;
  }
}

.domain-row-empty-handle {
  width: 30px;
  display: table-cell;
  background-color: $gray-shadow;
}

.domain-row-name {
  width: 90%
}

.domain-row-container {
  display: table;
  width: 100%;
}

.domain-row-container-expanded {
  display: table-cell;
  padding: 15px 2px 30px 0;
}

.domain-row-container-expand-spacer {
    width: 10px;
    display: table-cell;
}

.domain-row-main {
  height: 50px;
}

.domain-row-warning {
    font-weight: 500;
}

.domain-no-wrap {
  display: inline-block;
  white-space: nowrap;
}

.domain-validation-modal {
  width: 550px;
}

.domain-validation-button {
  font-size: 12px;
  margin-right: 15px;
}

.domain-validation-group {
  float: left;
  margin-right: 80px;
}

.domain-validation-subtitle {
  color: $gray;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.domain-validation-add-btn span {
  font-size: 12px;
}

.domain-validation-btn-row {
  padding-top: 50px;
}

.domain-validator-panel {
  background-color: $gray-shadow;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid $gray-border;
}

.domain-validation-failOnMatch-row {
  margin-top: -14px;
}

.domain-validation-checkbox {
  float: left;
  margin-top: 0;
}

.domain-validation-display-checkbox-row {
  margin: 5px 0 -15px 0;
}

.domain-validation-delete {
  font-size: 12px;
  float: right;
  margin-top: 20px;
}

.domain-validator-link {
    cursor: pointer;
    padding-right: 5px;
}

.domain-validator-filter-row {
  margin-bottom: 10px;
}

.domain-validator-filter-type-row {
  margin-bottom: 5px;
}

.domain-validator-filter-bottom {
  margin-bottom: 20px;
}

.domain-validator-color-row {
  margin-top: 20px;
}

.domain-validator-color-popover {
  position: absolute;
  z-index: 2;
}

.domain-validator-color-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.domain-validator-modal-apply {
  display: inline-flex;
  float: right;
}

.domain-annotation-table td {
    vertical-align: top;

    &.content {
        padding-top: 5px;
        color: $gray;

        // Override the hover color for anchors marked as text
        & a.domain-text-label:hover {
            color: $gray;
        }
    }
}

.domain-color-preview {
  height: 25px;
  width: 25px;
  border: 1px solid;
  display: inline-flex;
  vertical-align: bottom;
  margin-bottom: 1px;
}

.domain-color-picker-btn {
  display: inline-flex;
  font-size: 12px;
  margin-right: 20px;
  width: 70%;
}

.domain-color-caret {
  margin-left: 40%;
  position: absolute;
  float: left;
}

.domain-validator-collapse-icon {
  float: right;
  cursor: pointer;
}

.domain-heading-collapsible {
  cursor: pointer;
}

.domain-remove-icon {
  padding-top: 5px;
}

.domain-panel-header-clear-all {
 height: 20px;
 width: 50px;
 font-size: 10px;
 vertical-align: middle;
 text-align: center;
 padding: 0;
 margin-left: 10px;
}

.domain-panel-header {
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  // The rest of this is implementing part of panel-header from core.css, which is stripped off for background color
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  color: #333333;
  border-color: #DDDDDD;
}

.domain-panel-header-fields-defined {
  font-weight: normal;
  font-size: 15px;
  margin-left: 13px;
  float: right;
  margin-right: 20px;
}

.domain-panel-header-expanded {
  color: white !important;
}

.domain-panel-header-no-theme {
  background-color: $blue-border-solid !important;
}

.domain-panel-no-theme {
  border-color: $blue-border-solid !important;
}

.domain-panel-header-collapsed {
  background-color: #F5F5F5;
}

.domain-panel-status-icon {
  margin-right: 10px;
}

.domain-panel-status-icon-green {
  color: green;
}

.domain-panel-status-icon-blue {
  color: $blue-border-solid;
}

.domain-bottom-alert div {
  min-width: 1000px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -4px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 40px;
  padding-top: .5%;
  border-color: inherit;
}

.domain-bottom-alert-expanded div {
   border-color: $blue-border-solid;
 }

.domain-bottom-alert-collapsed div {
  border-color: #ddd;
}

.domain-bottom-alert-top div {
  border-top-color: #ddd;
}

.domain-main-alert {
  margin-top: 20px;
}

.domain-designer .form-buttons {
    margin-top: 25px;
}

.domain-designer .form-buttons .btn {
    min-width: 75px;
}

.domain__import-data__file-title {
    color: $brand-primary;
}

.domain-add-field-row {
    margin-top: 20px;
}

.domain-text-choices-left-panel {
    border-right: 1px solid $list-group-border;
}
.domain-text-choices-list {
    max-height: 255px; // 6 items plus their borders
    overflow: auto;

    .list-group-item {
        overflow-wrap: anywhere;
    }
}
.domain-text-choices-error {
    color: $brand-danger;
}
.domain-text-choices-info {
    overflow-wrap: anywhere;
}

.domain-text-choices-search {
    margin-bottom: 10px;
};

.domain-field-confirm-datatype {
    text-transform: capitalize;
    font-weight: bold;
}
.drag-drop-handle .fa-ellipsis-v {
    margin-right: 2px;
}

.domain-system-fields {
    margin-top: 15px;
    margin-bottom: 12px;
}

.domain-system-fields-header {
    display: flex;
    align-items: center;
}

.domain-system-fields-header__icon {
    color: $gray-no-highlight;
    margin-bottom: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.domain-system-fields-header__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
}

.domain-system-fields__grid {
    margin-top: 10px;
}

.domain-custom-fields-header__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}

.transform-script-card.attachment-card {
    display: flex;
    width: unset;

    .attachment-card__body {
        width: 100%;
    }

    .attachment-card__content {
        width: unset;
    }
}

.transform-script-add {
    margin-top: 15px;

    .transform-script-add--label {
        display: inline-block;
        padding: 0 25px 10px 0;
        cursor: pointer;
    }
    .transform-script-add--path {
        width: 100%;
        margin-bottom: 15px;

        input {
            display: inline-block;
            width: 80%;
        }
        button {
            float: right;
        }
    }
}

.transform-script--add-button, .transform-script--manage-link, .transform-script--download-link {
    display: inline-block;
    padding-right: 10px;
}
