.entity-insert--header {
  margin-bottom: 30px;
}

.entity-insert--entity-add-button {
    display: inline-block;
    padding-right: 10px;
    margin-top: 5px;
}

.entity-insert--link {
    padding-top: 5px;
}

.entity-insert--parent-label, .entity-insert--remove-parent {
  padding-top: 7px;
}

.has-error .Select-control, .has-error .form-control, .has-error .form-control:focus {
  border-color: $red-border;
  box-shadow: inset 0 0 3px 0 $red-shadow, 0 0 3px 0 $red-shadow;
}

.parent-alias-label.has-error {
  color: $red-border;
}

.container--removal-icon:hover {
  color: #D0021B
}

.entity-mergeoption-checkbox {
    cursor: pointer;
    padding-left: 5px;
}
