
.field-highlighted {
  color:  $blue-highlight
}

.field-not-highlighted {
  color: $gray-no-highlight
}

.field-delete {
  color: $brand-danger
}

.field-icon {
  color: $gray-light;
  padding: 5px 5px 0 20px;
  display: inline-block;

  &:hover {
    color: $gray-base;
    cursor: pointer;
  }
}

.field-zero-padding {
  padding: 0
}

.field-details-container {
  display: flex;
  padding-left: 10px;
};

.field-text-nowrap {
    white-space: nowrap;
    display: inline-block;
}

.field-hide-overflow {
    @media (max-width: 612px) {
        max-width: 150px;
    }
    @media (min-width: 613px) and (max-width: $screen-md) {
        max-width: none;
    }
    @media (min-width: $screen-md) {
        max-width: 150px;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
