
.field-highlighted {
  color:  $blue-highlight
}

.field-not-highlighted {
  color: $gray-no-highlight
}

.field-delete {
  color: $brand-danger
}

.field-icon {
  color: $gray-light;
  padding: 5px 5px 0 20px;
  display: inline-block;

  &:hover {
    color: $gray-base;
    cursor: pointer;
  }
}

.field-zero-padding {
  padding: 0
}

.field-text-nowrap {
    white-space: nowrap;
    display: inline-block;
}

.field-hide-overflow {
    @media (max-width: 612px) {
        max-width: 150px;
    }
    @media (min-width: 613px) and (max-width: $screen-md) {
        max-width: none;
    }
    @media (min-width: $screen-md) {
        max-width: 150px;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.date-input {
    div.form-control {
        border: 0;
        display: inline-block;
        padding: 0;
    }

    input.form-control:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.edit-inline-field {
    padding-top: 10px;
    word-break: break-word;
}

.edit-inline-field__label {
    color: #777777;
    cursor: auto;
    font-size: 14px;
    padding-right: 5px;
}

.edit-inline-field__placeholder {
    color: #777777;
}

.edit-inline-field__toggle {
    cursor: pointer;

    .fa {
        color: $light-gray;
        padding-left: 5px;
    }

    &:hover {
        .fa {
            color: $gray-dark;
        }
    }
}

.view-field__action {
    cursor: pointer;

    .fa {
        color: $light-gray;
        padding-left: 8px;
    }

    &:hover {
        .fa {
            color: $gray-dark;
        }
    }

    &.disabled {
        cursor: default;
        &:hover {
            .fa {
                color: $light-gray;
            }
        }
    }
}

.toggle-group-icon {
    i {
        font-size: 1.5em;
        &:hover {
            cursor: pointer;
        }
    }
    i.fa-toggle-on {
        color: $brand-primary;
    }
    i.fa-toggle-off {
        color: $gray-light;
    }
}

.control-toggle-btn-group {
    display: flex;
}

.control-label-toggle-input {
    float: right;

    .btn {
        padding: 4px 8px;
    }
    .btn-disabled {
        margin-left: unset !important;
    }
    .btn-default:focus {
        background-color: white;
    }
}

.control-label-toggle-input-size-fixed {
    width: 90px !important;
    height: 28px !important;

    .btn-group {
        float: right;
    }
}
