
.filetree-folder-icon {
    margin-right: 10px;
}

.filetree-leaf-node {
    margin-left: 19px;
}

.filetree-checkbox-container {
    display: inline-flex;

    & > .checkbox {
        margin: 3px;
    }

    & input[type='checkbox'] {
        margin-top: 15%;
    }

    &.active {
        font-weight: bold;
    }
}

.filetree-container {
    padding: 10px;
    border: 1px solid lightgrey;
    height: 300px;
    overflow: auto;
}

.filetree-empty-directory {
    font-style: italic;
    margin: 0 0 8px 20px;
}
