.file-upload--container {
  cursor: pointer;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.file-upload--container--compact {
  flex-grow: 2;
}

.file-upload--label {
  cursor: pointer;
  color: #116596;
  display: block;
  font-weight: normal;
  padding: 20px 0 25px;
  text-align: center;
  margin-bottom: 0;
}

.file-upload--label--compact {
    cursor: pointer;
    color: #116596;
    display: block;
    font-weight: normal;
    padding: 8px 0 8px 8px;
    text-align: center;
    margin-bottom: 0;
}

.file-upload--one-row {
    display: flex;
}

.file-form-submit-btn--compact {
    margin-left: 20px;
    width: 90px;
    height: 38px;
}

.file-upload__label__icon {
    margin-right: 8px;
}

.file-upload--input {
  height: 0.1px;
  width: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-upload--icon,
.file-upload__remove--icon {
  font-size: 20px;
  padding: 2px;
  margin-left: 38px;
  cursor: pointer;
  position: absolute;
}

.file-upload--icon {
  color: gray;
  border: 1px solid lightgray;
  border-radius: 4px;
  top: 6px;
  left: -35px;
}

.file-upload__remove--icon {
  color: $brand-danger;
  top: -1px;
  left: 5px;
}

.file-upload__is-hover {
  outline: 2px dashed $brand-success !important;
}

.file-upload--compact-label {
  cursor: pointer;
  color: #116596;
  display: block;
  font-weight: normal;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  margin-bottom: 0;
  padding: 8px;
}

.file-upload--compact-label i, .file-listing-info {
  display: inline-block;

  .file-listing-info-light {
    color: gray;
  }
}

.file-upload--is-disabled {
    background-color: $gray-lighter;
    color: $gray;
    cursor: not-allowed;
}

.file-upload--error-message {
  margin-left: 7px;
  color: $brand-danger;
}

.file-upload--error-message--compact {
    padding: 8px 0 8px 8px;
    margin-left: 15px;
    margin-bottom: 0;
}

.cloud-logo {
  display: block !important;
  color: #116596;
}

.attached-file--container {
  padding-left: 75px;
  margin-left: -40px;
  margin-top: 5px;
  position: relative;
}

.attached-file--inline-container {
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  padding: 8px;
  position: relative;
}

.attached-file--icon {
  color: darkgray;
  font-size: 20px;
  margin-right: 7px;
}

.attached-file--bottom-spacing {
    margin-bottom: 10px;
}

.attached-file--remove-icon {
  color: $brand-danger;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.file-listing--header {
    font-weight: bold;
}

.file-listing-icon {
  width: 55px;
  height: 55px;
  border-radius: 55px;
  font-size: 24pt;
  color: $brand-secondary;
  line-height: 55px;
  margin-left: 10px;
  text-align: center;
  background-color: $blue-icon-background;
  vertical-align: middle;
}

.file-listing-delete {
  display: inline-block;
  cursor: pointer;

  .file-listing-delete-icon {
    font-size: 20px;
    color: red;
  }

}

.file-listing-filename {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.file-listing-icon--container {
  width: 108px;
}

.file-listing-canceldel-icon {
  margin-right: 5px;
}

.test-loc-file-created-by {
  padding-right: 5px;
}

.file-listing-row--container {
  border: 1px solid lightgray;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.file-upload--scroll-footer {
    font-style: italic;
    color: $text-color;
}

.file-upload--file-entry-listing {
    max-height: 160px;
    overflow-y: scroll;
    margin-bottom: 0;
}
