// #Filter
// EntityFieldFilterModal.tsx, QueryFilterPanel.tsx, FilterFacetedSelector.tsx, FilterExpressionView.tsx

.filter-modal__container {
    .list-group-item {
        color: $text-color;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 0;
    }

    .list-group-item.active {
        color: $white;
        font-weight: bold;
    }

    .field_count_circle {
        border-radius: 50%;
        text-align: center;
        font-size: 9pt;
        color: white;
        width: 15px;
        line-height: 15px;
        background-color: $badge-color;
        display: inline-block;
        margin-top: 4px;
    }

    .filter-modal__field_dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $badge-color;
        display: inline-block;
        margin-top: 6px;
    }

    .filter-modal__col-title {
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 16px;
    }

    .filter-modal__col-sub-title {
        font-weight: bold;
        padding: 25px 0 10px 0;
    }

    .filter-modal__col {
        padding-right: 0;
        padding-left: 8px;
    }

    .filter-modal__col.col-sm-6, .filter-modal__col.col-xs-6, .filter-modal__col.col-xs-12 {
        padding-right: 8px;
    }

    .filter-modal__col-content {
        height: 470px;
        @media (max-width: $screen-sm-min) {
            height: 150px;
        }

        overflow: scroll;
        border: 1px solid $light-gray;
        margin-bottom: 20px;

        .loading-spinner {
            display: inline-block;
            padding: 10px 15px;
        }

        .list-group-item {
            border: none;
        }

        .filter-modal__tabs {
            padding: 8px 15px;
        }

        .filter-modal__tabs.content-tabs {
            .nav-tabs {
                border-bottom: 1px solid $light-gray;
            }
        }

        .filter-modal__values-col-content {
            .filter-modal__col-content & {
                overflow: hidden;
            }
            height: 380px;
        }
    }

    .filter-modal__col_filter_exp .filter-modal__col-content {
        @media (max-width: $screen-sm-min) {
            height: 250px;
        }
    }

    .filter-modal__empty-msg {
        color: $gray-light;
        font-size: 16px;
        padding: 10px 10px;
    }

}

.filter-expression__input-wrapper {
    width: 100%;
    margin: 0 0 20px 0;
}

.filter-expression__and-op {
    padding: 8px 0;
}

.filter-expression__input {
    width: 75%;
    padding-left: 15px;
}

.filter-expression__input-select {
    width: 75%;
}

.filter-cards__card {
    .filter-display__row {
        .filter-display__field-label {
            font-weight: bold;
            vertical-align: top;
            padding-top: 10px;
            text-transform: uppercase;
        }

        .filter-display__filter-content {
            padding-top: 10px;

            .filter-display__filter-value {
                display: inline-block;
                padding-left: 30px;
                ul {
                    padding-left: 0;
                }
                .filter-display__filter-value-li {
                    display: block;
                }
            }


            .field-display__filter-value-negate {
                text-decoration: line-through;
            }
        }
    }
}

.OmniBox--multi {
    .OmniBox-value.filter-faceted__tags-value {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 3px 0;
        padding: 0 6px 0 20px;
        word-break: break-all;
        color: $gray;

        &:hover {
            white-space: normal;
        }

        i.symbol {
            margin-left: -15px;
            padding-right: 4px;
        }
    }
}

.filter-faceted__li {
    margin: 3px 0;
    line-height: 22px;
}

.filter-faceted__panel {
        height: 355px;
        overflow-x: hidden;
        overflow-y: scroll;
}

.filter-faceted__checkbox {
    position: absolute;
}

.filter-faceted__value {
    display: inline-block;
    margin-left: 20px;
    padding-right: 5px;
    word-break: break-all;
    color: $text-color;

    &:hover {
        cursor: pointer;
    }
}

.filter-faceted__tags-div {
    width: 100%;
}

.filter-faceted__typeahead-input {
    margin-bottom: 20px;
}

.filter-faceted__tags-title {
    font-weight: bold;
    padding-bottom: 5px;
}

