// #Filter
// EntityFieldFilterModal.tsx, QueryFilterPanel.tsx, FilterFacetedSelector.tsx, FilterExpressionView.tsx

.field-modal__container {
    .list-group-item {
        color: $text-color;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 0;
    }

    .list-group-item.flex {
        display: flex;
    }

    .list-group-item.draggable {
        left: auto !important;
    }

    .list-group-item.active {
        color: $white;
        font-weight: bold;
    }

    .list-group-item .field-name {
        flex: 1;
        cursor: default;
    }

    .list-group-item .field-expand-icon {
        color: $light-gray;
        height: 16px;
        width: 16px;
        margin-right: 5px;

        .fa {
            cursor: pointer;
            &:hover {
                color: $gray-dark;
            }
        }
    }

    .field_count_circle {
        border-radius: 50%;
        text-align: center;
        font-size: 9pt;
        color: white;
        width: 15px;
        line-height: 15px;
        background-color: $badge-color;
        display: inline-block;
        margin-top: 4px;
    }

    .field-modal__field_dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $badge-color;
        display: inline-block;
        margin-top: 6px;
    }

    .field-modal__col-title {
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 16px;

        .action-text {
            font-size: 14px;
            color: $link-color;
            cursor: pointer;

        }
        .disabled-action-text {
            font-size: 14px;
            color: $light-gray;
        }
    }

    .field-modal__col-sub-title {
        font-weight: bold;
        padding: 18px 0 10px 0;
    }

    .field-modal__col {
        padding-right: 0;
        padding-left: 8px;
    }

    .field-modal__col-2 {
        padding-right: 0;
        padding-left: 15px;
    }

    .field-modal__col.col-sm-6, .field-modal__col.col-xs-6, .field-modal__col.col-xs-12 {
        padding-right: 8px;
    }

    .field-modal__col-2.col-sm-6, .field-modal__col-2.col-xs-6, .field-modal__col-2.col-xs-12 {
        padding-right: 15px;
    }

    .col-xs-12 .field-modal__footer {
        margin-bottom: 20px;
    }

    .field-modal__col-content {
        height: 470px;
        @media (max-width: $screen-sm-min) {
            height: 150px;
        }

        overflow: auto;
        border: 1px solid $light-gray;
        margin-bottom: 20px;

        .loading-spinner {
            display: inline-block;
            padding: 10px 15px;
        }

        .list-group-item {
            border: none;
        }

        .field-modal__tabs {
            padding: 8px 15px;
        }

        .field-modal__tabs.content-tabs {
            .nav-tabs {
                border-bottom: 1px solid $light-gray;
            }
        }

        .field-modal__values-col-content {
            .field-modal__col-content & {
                overflow: hidden;
            }
            height: 380px;
        }

        &.field-modal__values {
            overflow: visible;
        }
    }

    .field-modal__col_filter_exp .field-modal__col-content {
        @media (max-width: $screen-sm-min) {
            height: 250px;
        }
    }

    .field-modal__empty-msg {
        color: $gray-light;
        font-size: 16px;
        padding: 10px 10px;
    }

    .field-value-bool-label {
        font-weight: normal;
    }
}

.filter-expression__input-wrapper {
    width: 100%;
    margin: 0 0 10px 0;
}

.filter-expression__and-op {
    padding: 8px 0;
}

.filter-expression__input {
    width: 75%;
    padding-left: 15px;
}

.filter-expression__textarea {
    width: 75%;
    resize: none !important;
}

.filter-expression__input-select {
    width: 75%;

    // Issue 45139
    .select-input__menu-portal {
        top: auto;
        left: auto;
    }
}


.filter-status__faceted {
    .filter-status-value {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        color: $gray;
        border-radius: 2px;
        margin-bottom: 8px;
        padding: 0 6px 0 20px;
        background-color: $grid-action-item-bg;
        border: 1px solid $grid-action-item-border-color;
        line-height: 22px;
        max-width: 100%;
        vertical-align: top;

        i.symbol {
            cursor: pointer;
            color: $grid-action-item-color;
            margin-left: -15px;
            padding-right: 4px;
        }

        &:hover,
        &:focus {
            background-color: $grid-action-item-hover-bg;
            white-space: normal;
        }
    }
}

.filter-faceted__li {
    margin: 3px 0;
    line-height: 22px;
}

.filter-faceted__panel,
.filter-expression__panel {
    height: 357px;
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-faceted__checkbox {
    position: absolute;
}

.filter-faceted__value {
    display: inline-block;
    margin-left: 20px;
    padding-right: 5px;
    word-break: break-all;
    color: $text-color;

    &:hover {
        cursor: pointer;
    }
}

.filter-faceted__tags-div {
    width: 100%;
}

.filter-faceted__typeahead-input {
    margin-bottom: 20px;
}

.filter-faceted__tags-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.ontology-browser__menu {
    padding: 10px 0;

    ul {
        padding: 10px 10px;
    }
}

.clickable {
    cursor:pointer;
}

.filter-modal__fields-col-nodata-msg {
    display: inline-block;
    margin-left: 20px;
    padding-right: 5px;
    color: $text-color;
}

.field-modal__col-content-disabled {
    opacity: 0.5;

}

