// #Grids
// Grid Styling


.form-horizontal .control-label.text-left{
  text-align: left;
}

.table-striped > tbody > tr.grid-row-highlight {
  background-color: $yellow-shadow;
}

.panel.fixed-panel {
  min-height: 45em;
  max-height: 45em;
  overflow-y: scroll;
}

.bottom-spacing {
  padding-bottom: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 15px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.spacing {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.wizard-content {
  border-left: 1px solid lightgrey;
  padding-right: 0;
  // Variable not currently used
  @media (max-width: $screen-sm-min) {
    border-left: 0;
  }
}

.grid-message {
  margin: 0.5em 0;
}

.grid-header-cell {
  position: relative;
  padding: 0 9px;
  font-weight: bold;
}

.phi-protected {
    background: repeating-linear-gradient(-45deg, #fcf8e3, #fcf8e3 10px, #ffffff 10px, #ffffff 20px);
}

.grid-header-sort {
  position: absolute;
  right: 0;
  width: 20px;
  text-align: center;
  overflow: hidden;
  color: lightgrey;
  cursor: pointer;

  & i {
    font-size: 20px;
    display: block;
  }

  &:hover {
    i {
      color: #333;
    }
  }
}

.grid-header-sort--top {
  top: 0;
  height: 52%;

  & i {
    margin-top: 8px;
  }
}

.grid-header-sort--bottom {
  top: 52%;
  height: 48%;

  & i {
    margin-top: -10px;
  }
}

.grid-header-sort--sorted {
  color: #333;
}

.heatmap-container td.heat-map--cell {
  box-sizing: border-box;
  border: 0;
  &:hover {
    outline: 1px solid rgba(0, 0, 0, .6) !important;
  }
}

.requested-value--link {
  color: $brand-primary;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.component-loading__bottom-margin {
  margin-bottom: 20px;
}

.component-loading__vertical-margin {
  margin: 20px 0;
}

.file-renderer-img {
  max-width: 70px;
  cursor: pointer;
}

.file-renderer--img__modal {
  max-width: 100%;
}

.grid-testing {
  min-width: 50px;
}

.control-right {
  padding-right: 10px;
}

// try to make the height here so it is obvious when there are rows below the fold.
.modal-body .editable-grid__container {
  max-height: 540px;
  overflow-y: scroll;
}

.editable-grid__container {
  display: block;
  padding-right: 15px;
  overflow: auto;

  table {
    margin-bottom: 15px;
  }
}

.editable-grid__bulk-header {
  padding-bottom: 12px;
}

.edit-grid-container {
  width: 100%;
}

// Issue 32074: Editable Grid lookups can be too narrow to even be used.
// this style ensures that grid select boxes are *at least* 250px wide which should allow them to be
// usable, but not completely dominate the page.
.edit-grid-container .Select {
  min-width: 250px;
}

.table tbody tr td .editable-grid__removal-cell {
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
  color: lightgrey;

  &:hover {
    color: inherit;
  }
}

.full-width {
  display: table;
  min-width: 100%;
}

$table-cell-border-width: 2px;
$table-cell-border: $table-cell-border-width solid transparent;
$table-cell-selected-border: $table-cell-border-width solid darkblue;
$table-cell-selected-box-shadow: 0 3px 3px darkgrey;
$table-cell-selection-bg-color: #EDF3FF;

.table-cellular {
  border-collapse: collapse;

  & > thead > tr > th {
    padding: 5px;
  }

  & > tbody > tr.grid-empty > td {
      height: 24px;
  }

  & > tbody > tr > td {
    border: 1px solid #dadada;
    line-height: 1;

    &.cellular-count {
      background-color: #f3f3f3;
      border-color: #bdbdbd;
      font-size: small;
      text-align: center;
      width: 45px;

      .cellular-count-content {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin-top: 6px;
      }

      .cellular-count-static-content {
        text-align: center;
      }
    }

    .cellular-display {
      border: $table-cell-border;
      cursor: default;
      outline: none;
      overflow: hidden;
      padding: 2px 1px 2px 2px;
      height: 24px;
      white-space: nowrap;

      &.size-limited {
        max-width: 200px;
        text-overflow: ellipsis;
      }

      &.cell-selection {
        border: $table-cell-border-width solid $table-cell-selection-bg-color;
        background-color: $table-cell-selection-bg-color;
      }

      &.cell-selected {
        border: $table-cell-selected-border;
        cursor: default;
        outline: none;
      }
    }

    .cellular-input {
      border: $table-cell-border;
      outline: none;
      padding: 2px 1px 2px 2px;
      width: 100%;

      &:focus {
        border: $table-cell-selected-border;
        box-shadow: $table-cell-selected-box-shadow;
        outline: none;
      }
    }

    .cell-lookup {
      border: $table-cell-selected-border;
      box-shadow: $table-cell-selected-box-shadow;
      outline: none;

      .cell-lookup-input {
        border: none;
        outline: none;
      }

      .cell-lookup-menu {
        background-color: #fff;
        min-width: 240px;
        margin: 0;
        z-index: 1000;
        list-style: none;

        border: 1px solid #e6e6e6;
        padding: 0;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
        border-radius: 3px;

        position: absolute;

        & > li {
          height: 38px;
          min-height: 38px;
          max-height: 38px;
          padding: 0 12px 0 20px;
          display: flex;
          align-items: center;
          flex-direction: row;

          cursor: pointer;
          line-height: 1.4;
          margin: 0;
          border: 0;
          outline: 0;
          vertical-align: baseline;
          list-style: none;
        }
      }
    }

    .cell-warning {
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        background: #ffcc00;
        position: absolute;
        top: 0;
        right: -5px;
        transform: skewX(45deg);
      }

      &.cell-selected {
        background-color: $state-warning-bg;
      }
    }

    .cell-placeholder {
      color: $light-gray;
    }

    .cell-read-only {
      background-color: $light-gray;

      &.cell-placeholder {
        color: $gray-light
      }
    }
  }
}

.nav-tabs {
  & > li {
    & > a {
      cursor: pointer;
    }
  }
}

// https://codepen.io/quanon/pen/WjXmWe
@mixin loading($mask: false, $font-size: 36px, $z-index: 1) {
  position: relative;

  @if $mask {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &::after {
    position: absolute;
    content: "\f110";
    font-family: FontAwesome;
    font-size: $font-size;
    color: $brand-secondary;
    // What centered would look like
    //top: calc(50% - (#{$font-size} / 2));
    //left: calc(50% - (#{$font-size} / 2));
    top: 80px;
    left: 80px;
    animation: fa-spin 2s infinite linear;
    z-index: $z-index;
  }
}

.loading {
  @include loading;
}

.loading-mask {
  @include loading($mask: true);
}

// Grid bar
.QueryGrid-bottom-spacing {
  padding-bottom: 15px;
}

// Add rows controls
.editable-grid__controls {
  .input-group {
    display: table;
  }
  .input-group-btn {
    width: unset
  }
}

// Grid selection banner
.QueryGrid-right-spacing {
  padding-right: 15px;
}

// Image Modal for FileColumnRenderer
.file-renderer-img__modal {
  max-width: 100%;
}

.gridbar-buttons {
  margin-right: 10px;
}

.gridbar-button-spacer {
  padding-left: 10px;
}

.chart-menu-icon {
  width: 16px;
}

.chart-menu-label {
  margin-left: 10px;
}

.tabbed-grid-panel .nav-tabs {
    margin-bottom: 30px;
}
