// #Grids
// Grid Styling


.form-horizontal .control-label.text-left{
  text-align: left;
}

.table-striped > tbody > tr.grid-row td {
    background-color: $white;
}
.table-striped > tbody > tr.grid-row-alternate td {
    background-color: $table-bg-accent;
}
.table-striped > tbody > tr.grid-row-highlight td {
  background-color: $grid-action-item-hover-bg;
}

.panel.fixed-panel {
  min-height: 45em;
  max-height: 45em;
  overflow-y: scroll;
}

.bottom-spacing {
  padding-bottom: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 15px;
}

.bold-text {
  font-weight: bold;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.spacing {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.top-padding-only {
  padding: 15px 0 0 0;
}

.wizard-content {
  border-left: 1px solid lightgrey;
  padding-right: 0;
  // Variable not currently used
  @media (max-width: $screen-sm-min) {
    border-left: 0;
  }
}

.grid-message {
  margin: 0.5em 0;
}

.grid-header-cell {
  position: relative;
  padding: 0 9px;
  font-weight: bold;

    input:not([type=checkbox]) {
        width: 100%
    }
}

.grid-header-cell__body {
    width: 100%;
}

.dropdown-menu.grid-header-cell__dropdown-menu {
    display: block;
    position: fixed;
}

.grid-header-draggable {
    cursor: pointer;
}

.grid-header-drag-over {
    box-shadow: inset 5px 0 $blue-highlight;
}

.phi-protected {
    background: repeating-linear-gradient(-45deg, #fcf8e3, #fcf8e3 10px, #ffffff 10px, #ffffff 20px);
}

.grid-header-sort {
  position: absolute;
  right: 0;
  width: 20px;
  text-align: center;
  overflow: hidden;
  color: lightgrey;
  cursor: pointer;

  & i {
    font-size: 20px;
    display: block;
  }

  &:hover {
    i {
      color: #333;
    }
  }
}

.grid-header-sort--top {
  top: 0;
  height: 52%;

  & i {
    margin-top: 8px;
  }
}

.grid-header-sort--bottom {
  top: 52%;
  height: 48%;

  & i {
    margin-top: -10px;
  }
}

.grid-header-sort--sorted {
  color: #333;
}

.requested-value--link {
  color: $brand-primary;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.component-loading__bottom-margin {
  margin-bottom: 20px;
}

.component-loading__vertical-margin {
  margin: 20px 0;
}

.grid-testing {
  min-width: 50px;
}

.control-right {
  padding-right: 10px;
}

// try to make the height here so it is obvious when there are rows below the fold.
.modal-body .editable-grid__container {
  max-height: 540px;
  overflow-y: scroll;
}

.editable-grid__container {
  display: block;
  padding-right: 15px;
  overflow: auto;

  table {
    margin-bottom: 15px;
  }

    .react-datepicker__triangle {
        left: -10px !important;
    }
}

.editable-grid__bulk-header {
  padding-bottom: 12px;
}

.editable-grid-buttons {
    margin-bottom: 15px;
}

.editable-grid-buttons__action-buttons button {
    margin-right: 10px;
}

.edit-grid-container {
  width: 100%;
}

// Issue 32074: Editable Grid lookups can be too narrow to even be used.
// this style ensures that grid select boxes are *at least* 250px wide which should allow them to be
// usable, but not completely dominate the page.
.edit-grid-container .Select {
  min-width: 250px;
}

.table tbody tr td .editable-grid__removal-cell {
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
  color: lightgrey;

  &:hover {
    color: inherit;
  }
}

.full-width {
  display: table;
  min-width: 100%;
}

$table-cell-border-width: 1px;
$table-cell-border: $table-cell-border-width solid transparent;
$table-cell-selected-border: $table-cell-border-width solid #2980b9;
$table-cell-selected-box-shadow: 0 3px 3px darkgrey;
$table-cell-selection-bg-color: #EDF3FF;

.table-cellular {
  border-collapse: collapse;

  & > thead > tr > th {
    padding: 5px;
  }

  & > tbody > tr.grid-empty > td {
      height: 30px;
      padding: 0 4px;
  }

  & > tbody > tr > td {
    border: 1px solid #dadada;
    line-height: 1;

    &.cellular-count {
      background-color: #f3f3f3;
      border-color: #bdbdbd;
      font-size: small;
      text-align: center;
      width: 45px;

      .cellular-count-content {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin-top: 6px;
      }

      .cellular-count-static-content {
        text-align: center;
      }
    }

    .cellular-display {
      border: $table-cell-border;
      cursor: default;
      outline: none;
      overflow: hidden;
      padding: 7px 1px 2px 2px;
      height: 30px;
      white-space: nowrap;

        &.cell-selection {
            border: $table-cell-border-width solid $table-cell-selection-bg-color;
            background-color: $table-cell-selection-bg-color;
        }

        &.cell-selected {
            border: $table-cell-selected-border;
            cursor: default;
            outline: none;
        }

        &.cell-border-top {
            border-top: $table-cell-selected-border;
        }

        &.cell-border-right {
            border-right: $table-cell-selected-border;
        }

        &.cell-border-bottom {
            border-bottom: $table-cell-selected-border;
        }

        &.cell-border-left {
            border-left: $table-cell-selected-border;
        }
    }

    .cell-selection-handle {
        height: 0; // to prevent grid cell height from adjusting when this is rendered
        position: relative;
        float: right;
        bottom: 8px;
        font-size: 8px;
        color: #2980b9;
        cursor: crosshair;
    }

    .cellular-input {
      border: $table-cell-selected-border;
      outline: none;
      padding: 6px 2px;
      width: 100%;
      min-width: 200px;

      &:focus {
        border: $table-cell-selected-border;
        outline: none;
      }
    }

    .cell-warning {
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        background: #ffcc00;
        position: absolute;
        top: 0;
        right: -5px;
        transform: skewX(45deg);
      }

      &.cell-selected {
        background-color: $state-warning-bg;
      }
    }

    .cell-menu {
        position: relative;
        min-height: 30px;
    }

    .cell-menu-value {
        min-width: 200px;
        margin-right: 24px;
    }

    .cell-menu-selector {
        position: absolute;
        color: $light-gray;
        min-height: 30px;
        font-size: 12px;
        right: 7px;
        top: 8px;

        .fa {
            font-size: 14px;
        }

        &:hover {
            color: $gray;
        }
    }

    .cell-placeholder {
      color: $gray-light;
    }

    .cell-read-only {
      background-color: $light-gray;

      &.cell-placeholder {
        color: $gray-light
      }
    }

    .cell-locked {
          background-color: $light-gray;

       &.cell-placeholder {
          color: $gray-light
       }
    }

  }
}

.nav-tabs {
  & > li {
    & > a {
      cursor: pointer;
    }
  }
}

.select-input-cell .select-input__control, .date-input-cell {
    border-style: none;
    min-height: 30px;
    width: 100%;
    min-width: 200px;
}

.select-input-cell-container, .date-input-cell-container {
    margin-bottom: 0;
    border-style: none;
}

// https://codepen.io/quanon/pen/WjXmWe
@mixin loading($mask: false, $font-size: 36px, $z-index: 1) {
  position: relative;

  @if $mask {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &::after {
    position: absolute;
    content: "\f110";
    font-family: FontAwesome;
    font-size: $font-size;
    color: $brand-secondary;
    // What centered would look like
    //top: calc(50% - (#{$font-size} / 2));
    //left: calc(50% - (#{$font-size} / 2));
    top: 80px;
    left: 80px;
    animation: fa-spin 2s infinite linear;
    z-index: $z-index;
  }
}

.loading {
  @include loading;
}

.loading-mask {
  @include loading($mask: true);
}

// Add rows controls
.editable-grid__controls {
  .input-group {
    display: table;
  }
  .input-group-btn {
    width: unset
  }
}

// Grid selection banner
.QueryGrid-right-spacing {
  padding-right: 15px;
}

.gridbar-button-spacer {
  padding-left: 10px;
}

.chart-menu-icon {
  width: 16px;
}

.chart-menu-label {
  margin-left: 10px;
}

.view-menu .dropdown-menu {
    max-width: 600px;
    width: max-content;

    li {
        a {
            white-space: normal;
        }
    }
}

.view-edit-alert {
    padding: 4px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.view-edit-title-alert {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
}

.view-edit-error {
    padding: 15px;
    color: $brand-danger;
}

.grid-view-name-error {
    border-color: $red-border;
}

.export-modal-body {
    margin: 0 15px 8px 15px;

    & .checkbox {
        margin: 0;
    }
    & td, & th {
        padding: 8px 8px 0 0;
    }

    & td.count {
        float: right;
    }

    & td.view-name, & th.view-name {
        padding-left: 15px;
    }
}

.table-condensed > tbody > tr > td.expired-grid-cell {
    padding: 0;
}

td > .expired-grid-cell-content {
    padding: 5px;
    background-image: linear-gradient(225deg, red, red 5px, transparent 5px, transparent);
}

td > .expired-form-field {
    padding-right: 10px;
    background-image: linear-gradient(225deg, red, red 5px, transparent 5px, transparent);
}

.help-table {
    & td, & th {
        padding: 8px;
    }
}
