
.create-group {
    display: flex;
}

.create-group__input {
    margin-right: 15px;
}

.group-assignment-panel {
    padding-top: 15px;
}

.group-assignment-panel__footer {
    margin-top: 16px;
}

.expandable-container__member-buttons {
    padding-bottom: 15px;
}

.expandable-container__action-container {
    padding: 30px 15px 0 15px;
    border-top:lightgrey 1px solid;
}
