
.label-help-icon {
  height: 12px;
  margin: 0px 2px 1px;
  cursor: default;
};

.label-help-target {
  width: 14px;
  margin-left: 2px;
}

.label-help-required {
  margin-top: 10px;
  font-style: italic;
  font-size: small;
}

.label-weight-normal {
  font-weight: normal;
}
