.vis-network {
  outline: none;
}

.show-on-hover {
  display: none;
}

.lineage-name {
    outline: none;

    h6 {
        display: inline-block;
    }

    .pointer {
        cursor: pointer;
    }

    &:hover {
        .hide-on-hover {
            display: none;
        }

        .show-on-hover {
            display: initial;
        }
    }
}

.spacer-left {
    padding-left: 4px;
}

.spacer-right {
    padding-right: 4px;
}

.spacer-horizontal {
    padding-left: 4px;
    padding-right: 4px;
}

.lineage-link {
    cursor: pointer;
}

.lineage-name-data {
    display: inline;
}

.lineage-data-link {
  padding: 0 0 0 4px;
}

.lineage-data-link--text {
    line-height: 1;
    color: $gray-light;
    font-size: 75%;
    font-weight: 400;
    cursor: pointer;

    &:hover, &:focus {
        color: $gray-dark;
    }
}

.lineage-graph-generation-limit-msg {
    padding-top: 8px;
    display: block;
    font-style: italic
}

.lineage-grid-generation-limit-msg {
    padding-top: 8px;
    font-style: italic
}

.lineage-source-generation-limit-msg {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}

.lineage-seed-info {
  margin-top: 10px;
}

.lineage-seed-name {
  font-weight: bold;
  margin-left: 10px;
}

.lineage-btn-seed {
  width: 37px;
  border-radius: 5px;
}

.lineage-visgraph-ct {
  position: relative;
  height: 100%;
}

.lineage-visgraph-controls {
  .btn i.fa {
    color: black;
  }
}

.lineage-visgraph-control-pan {
  position: absolute;
  bottom: 0;
  right: 0;

  .lineage-visgraph-control-pan-up {
    position: absolute;
    bottom: 33px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    right: 37px;
  }
}

.lineage-visgraph-control-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.lineage-visgraph-control-zoom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.lineage-node-detail-container {
    border-left: 1px solid $gray-lighter;
    @media (max-width: $screen-md-min) {
        border-left: 0;
        border-top: 1px solid $gray-lighter;
        margin-top: 15px;
        padding-top: 15px;
    }
}

.lineage-detail-header {
    display: inline-block;
    width: 100%;
}

.lineage-sm-icon {
    height: 1.2em;
    margin: 0.1em;
    width: 1.2em;
}

.lineage-details-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5em;
}

.lineage-run-step-provenance-map {
    max-height: 500px;
    overflow: auto;
}

.lineage-detail-prop-table {
    width: 100%;

    .lineage-detail-prop-cell {
        padding: 2px;
        border-top: solid 1px $gray-border;
    }
}

.lineage-settings-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.lineage-settings__section {
    margin-bottom: 32px;
}

.lineage-settings__section-header {
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.lineage-settings__section .form-control {
    margin-bottom: 16px;
    max-width: 100px;
}

.lineage-settings__section label {
    font-weight: normal;
}

.lineage-settings__filter-label {
    margin-left: 5px;
}

.lineage-settings__tip-body {
    max-width: 350px;
}

.lineage-settings__tip-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
