.list__bold-text {
    font-weight: bold;
}

.list__properties__no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.list__clickable {
    cursor:pointer;
}

.list__properties__checkbox-unchecked {
    color: $gray-light;
}

.list__properties__checkbox-row {
    margin-bottom: 10px;
}

.list__properties__checkbox-text {
    margin-left: 10px;
}

.list__properties__allowable-actions {
    margin-top: 17px;
}

.list__advanced-settings-modal__display-title {
    margin-left: 15px;
    width: 230px;
}

.list__advanced-settings-modal__section-container {
    margin-bottom: 20px;
}

.list__advanced-settings-modal__heading {
    margin-bottom: 7px;
}

.list__advanced-settings-modal__index-checkbox {
    margin-left: 7px;
}

.list__advanced-settings-modal__index-text {
    margin-left: 5px;
}

.list__advanced-settings-modal__single-doc-fields {
    margin-top: 10px;
    padding-left: 50px;
}

.list__advanced-settings-modal__text-field {
    width: 250px;
    border-radius: 5px;
}

.list__advanced-settings-model__collapsible-field {
    display: inline-block;
    width: 15px;
}

.list__advanced-settings-model__index-checkbox {
    margin-left: 22px;
}

.list__advanced-settings-modal__custom-template-text-field {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.list__set-key-alert {
    margin-bottom: 15px;
}

.list__set-key-panel {
    margin-top: 15px;
    color: $text-color;
}
