// Styling for LabKey generated markdown
.lk-markdown-container {
    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    table {
        th, td {
            padding: 5px;
        }
    }

    ul, ol {
        padding-inline-start: 32px;
    }
}
