
.dropdown-menu > li > div.dropdown-menu-row {
    display: block;
    padding: 0 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.popover-message {
    max-width: 350px;
}

.product-menu_archived-tag {
    display: inline;
    margin-left: 10px;

    &.alert {
        padding: 2px 3px;
    }
}
