.app-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-navbar;
}

.main-nav.navbar {
    height: 56px;
}

.sub-nav-wrapper .navbar {
    height: 41px;
}

.sub-nav-container {
    width: 95%;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.app-navigation .navbar {
    margin-bottom: 0;
}

.navbar-container {
  background-color: $brand-primary;
  margin-bottom: 0;
}

.admin-navbar-container {
    background-color: $blue-dark;
    margin-bottom: 0;
}

.navbar-left {
  padding: 0;

    .navbar-left-sub{
        background-color: transparent;
        color: $white !important;
        font-size: 14px;
        font-weight: 400;
        margin: 18px 0;
        position: relative;
        left: 40px;
        display: inline-block;
    }

  .navbar-item {
    margin-left: 20px;
  }

  .navbar-left-icon {
      margin: 10px 0;
  }
}

.navbar-right {
  margin: 10px 0;
  padding: 0;

  .navbar-item {
    margin-right: 20px;
  }
}

.placeholder-with-icons {
  font-family: FontAwesome, $font-family-sans-serif
}

.product-menu {
    position: relative;
    display: inline-block;
}

.navbar-left-menu {
    .product-menu-button {
        height: 54px;
        min-width: 85px;
        max-width: 300px; // ~40 characters plus text overflow and caret padding
        padding-right: 28px; // for caret
        text-align: left;

        background-color: transparent;
        color: $white !important;
        border: none;
        border-radius: 0;
        box-shadow: none;

        &:hover, &:focus {
            background-color: $brand-secondary;
        }

        // Due to how we want the overflow handling of the text the caret is positioned
        // using "absolute" and is provided spacing by the padding on the button itself.
        .caret {
            position: absolute;
            top: 25px;
            right: 15px;
        }

        .title {
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .subtitle {
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.navbar-item .dropdown-menu {
    right: -22px;
}
.navbar-menu {
    position: relative;
    display: inline-block;
}

.open .btn-default.navbar-menu-button, // This selector handles the DropdownButton case
.navbar-menu-button {
    padding: 6px 0;
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:focus,
    &:active,
    &:hover,
    &:hover:active {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}

.navbar-menu__content {
    margin-top: 5px;
    right: -21px;
    top: 125%;
}

.product-menu-content,
.navbar-menu__content {
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;
    z-index: 1000;
}

.product-menu-content {
    top: 100%;
    left: -62px;
    width: 925px;
    margin-top: 1px;

  .col-folders {
      background-color: $gray-shadow;
      border-radius: 4px 0 0 4px;
      padding-left: 8px;

      li:hover {
          background-color: $gray-lighter;
          border-radius: 4px 0 0 4px;
      }

      li.active {
          background-color: $white;
          border-radius: 4px 0 0 4px;

          &:focus, &:hover {
              background-color: $white;
          }

          a {
              color: $text-color;

              &:focus, &:hover {
                  background-color: $white;
                  color: $text-color;
                  cursor: default;
              }
          }
      }

      li.menu-section-header {
          font-weight: 500;
          padding: 5px 8px 4px 8px;
          min-height: 33px;
      }

      li.menu-section-item {
          padding: 8px;
      }

      li hr {
          margin: 4px 8px;
      }
  }
  .col-product-section {
      li {
          padding: 3px 8px;

          a {
              color: $text-color;
          }
      }
  }

  .menu-section {
    word-break: break-word;
    padding-bottom: 16px;

    .menu-section-header {
      font-family: FontAwesome, $font-family-sans-serif;
      color: $brand-primary;
      margin-top: 16px;
      white-space: nowrap;

      a {
        color: $brand-primary;
        cursor: pointer;
      }
    }

    &.menu-loading {
      padding: 24px 16px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li.clickable-item:focus, li.clickable-item:hover {
          background-color: $gray-lighter;
      }

      li a {
          display: block;
          padding: 0 4px;

          &:focus, &:hover {
              color: $link-hover-color;
              text-decoration: none;
              cursor: pointer;
          }
      }
    }

    hr {
      margin: 4px 0;
      border-top-color: $brand-primary;
      height: 1px;
      background-color: $light-gray;
      border: none;
    }

    .menu-folder-body {
        padding-right: 0;
    }

    .menu-folder-icons {
        display: none;
        padding: 0 10px 0 0;
        text-align: right;

        a {
            display: inline-block;
            padding: 0 10px 0 0;
        }

        i {
            color: $brand-primary;

            &:hover {
                color: $link-hover-color;
                cursor: pointer;
            }
        }
    }

    .menu-section-header:hover .menu-folder-icons,
    .menu-section-item:hover .menu-folder-icons {
        display: inline-block;
    }
  }
}

@media (min-width: 992px) {
    .product-menu-content {
        width: 925px;
        left: -156px;
    }
}

@media (min-width: 1200px) {
    .product-menu-content {
        width: 1082px;
        left: -136px;
    }
}

@media (min-width: 1418px) {
    .product-menu-content {
        width: 1320px;
        left: -162px;
    }
}

@media (max-width: 767px) { // $screen-xs-max
    .product-menu-content {
        max-width: 100vw;
        left: -76px;
    }

    .navbar-left {
        padding: 0 0 0 25px;

        .navbar-item {
            margin-left: 15px;
        }
    }

    .navbar-right {
        padding: 0 10px 0 0;

        .navbar-item {
            margin-right: 15px;
        }
    }
}


.empty-section {
  font-style: italic;
  color: $light-gray;
}

.empty-section-link {
  a {
    color: $brand-primary !important;
  }
}

.navbar {
  .container {
    padding: 0;
  }

  .navbar-left {
    // Triangle pointing menu to header nav element
    .navbar-connector {
      position: absolute;
      top: -10px;
      left: 80px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
    }
  }

  .navbar-right {
    // Triangle pointing menu to header nav element
    .navbar-connector {
      position: absolute;
      right: 18px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
    }

    .open .dropdown-menu {
      margin-top: 13px;
    }
  }
}

@media (min-width: 992px) {
    .navbar .navbar-left .navbar-connector {
        left: 175px;
    }
}
@media (min-width: 1200px) {
    .navbar .navbar-left .navbar-connector {
        left: 155px;
    }
}

@media (min-width: 1418px) {
    .navbar .navbar-left .navbar-connector {
        left: 180px;
    }
}

.sub-nav {
  border-radius: 0;
}

.container-nav {
    padding: 10px 0 8px 10px;
    color: $text-color-gray;
    position: relative;
}
.container-nav:before {
    border-left: 1px solid $navbar-border-color;
    content: '';
    height: 34px;
    margin-top: -17px;
    position: absolute;
    left: 0;
    top: 50%;
}
.container-nav__name {
    float: right;
    font-size: 14px;
    margin-left: 4px;
    max-width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lk-version-nav {
    padding: 8px 0 8px 10px;
    color: $text-color-gray;
    position: relative;
}

.lk-version-nav__label {
    float: right;
    font-size: 14px;
    margin-left: 4px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-inverse {
  min-height: 15px;

  & > .container {
    display: flex;
    position: relative;
  }

  .parent-nav .navbar-nav,
  .tab-scroll-ct .navbar-nav {
      margin: 0;
  }

  .parent-nav {

    li {
      a {
        color: $blue-highlight !important;
        font-size: 14px;
        padding: 8px 10px 8px 0;
        white-space: nowrap;
      }

      i.fa {
        font-size: small;
      }

      &:after {
        border-left: 1px solid $navbar-border-color;
        content: '';
        height: 34px;
        margin-top: -15px;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
  .navbar-nav {
      li {
          a {
              color: $blue-highlight;
          }
      }
  }

  .tab-scroll-ct {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    flex: 1;

    .navbar-nav {
      & > li {
        display: inline-block;
        float: initial !important;

        & > a {
          border-bottom: 3px solid transparent;
          font-size: 14px;
          padding: 8px 10px;

          &:hover {
            border-bottom: 3px solid lighten($brand-secondary, 15%);
          }
        }

        &.active > a {
          border-bottom: 3px solid $brand-secondary;
        }
      }
    }
  }

  .scroll-btn-group {
    display: inline-flex;

    &:before {
      border-left: 1px solid $navbar-border-color;
      content: '';
      height: 34px;
      margin-top: -17px;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }

    & > .btn {
      border: none;
      font-size: small;
    }
  }
}

.menu-section-icon {
  font-size: 22px;
  vertical-align: middle;
}

.user-name,
.project-name {
  border-radius: 4px;
  background-color: white;
  padding: 8px 12px 10px 12px;
}

.user-dropdown {
  box-shadow: none;
  text-decoration: none;

    & .caret {
        color: $white;
    }
}

.user-name {
  font-family: FontAwesome, $font-family-sans-serif;
}

.navbar__search-form {
  height: 34px;

  .navbar__search-icon {
    position: relative;
    float: left;
    left: 18px;
    top: 8px;
    margin-left: 5px;
    color: $gray-light;
    z-index: 10;
  }

  .navbar__search-input {
    padding: 7px 4px 7px 22px;
    border-radius: 4px;
    border-style: none;
  }

  .navbar__input-group {
      width: 251px;
      display: table;
  }
  .navbar__find-and-search-button {
      border-color: $white;
  }
}

.navbar__xs-find-dropdown {
    padding: 0;
    background: none;
    border: none;
    &.btn-default:active,
    &.btn-default:active:hover,
    &.btn-default:active:focus,
    &.btn-default:focus,
    &:active:focus,
    &:hover {
        background: none;
    }
    & .caret {
        color: $white;
    }
}

.navbar__xs-search-icon {
    cursor: pointer;
    font-size: 20px;
    margin-top: 6px;
    color: $white;
}

.navbar-icon {
    color: $brand-primary;
    margin-right: 15px;
}

.navbar-icon-connector {
    position: absolute;
    right: 18px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $gray-lighter transparent;
}
.navbar-icon-connector.has-unread {
    right: 28px;
}

.navbar-header-icon {
    color: $white;
    line-height: 1em;
    vertical-align: -15%;
    font-size: 18px;
}

.navbar-menu-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
    background-color: $gray-shadow;
    border-bottom: 1px solid $gray-border;
    border-radius: 5px 5px 0 0;
}

.navbar-item.visible-xs.pull-right > .dropdown.open > .btn-default.dropdown-toggle,
.navbar-item.visible-xs.pull-right > .dropdown.open > .btn-default.dropdown-toggle:focus,
.navbar-item.visible-xs.pull-right > .btn-group.open.dropdown-toggle,
.navbar-item.visible-xs.pull-right > .btn-group.open.dropdown-toggle:active {
    background-color: transparent !important;
    box-shadow: none;
}

.product-menu-content-body {
    display: flex;
    height: 100%;
}

.product-menu-content-body .col-folders {
    flex: 25;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-menu-content-body .sections-content {
    display: flex;
    flex: 75;
}

.col-product-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.col-product-section:first-child {
    padding-left: 8px;
}

.col-product-section:last-child {
    padding-right: 8px;
}

.product-menu-section-header {
    height: 62px;
}

.product-menu-section {
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

// This allows for menu sections with static content to grow to their content
// while non-static sections default to shrink.
.menu-section-static {
    flex-grow: 1;
    flex-shrink: 0;
}

.no-scroll {
    overflow: hidden;
}
