.app-header-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(0) translateZ(0);
  width: 100%;
  z-index: $zindex-navbar;

  &.scrolled {
    position: fixed;
    transform: translateY(44px);
    top: -44px;

    & > .sub-nav {
      display: none;
    }

    &.show-sub-nav {

      & > .sub-nav {
        box-shadow: 0 2px 4px darkgrey;
        display: block;
      }
    }
  }
}

.app-content-wrapper {
  padding-top: $header-height;

  &.with-sub-nav {
    padding-top: $header-spacing-no-scroll;

    & > .content-wrapper {
      min-height: calc( 100vh - ( #{$header-spacing-no-scroll} + #{$footer-height} ) );
    }
  }
}

.navbar-container {
  background-color: $brand-primary;
  margin-bottom: 0;
}

.navbar-left {
  margin: 10px 0;

    .navbar-item {
        margin-left: 20px;
    }

    .navbar-item-padded {
        margin-left: 30px;
    }
}

.navbar-right {
  margin: 10px 0;

  .navbar-item {
    margin-right: 20px;
  }
}

.sticky-on-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.placeholder-with-icons {
  font-family: FontAwesome, $font-family-sans-serif
}

.product-menu-button {
    width: 85px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);

    .caret {
        margin-left: 4px;
    }
}

.product-menu-content {
  padding: 12px 15px 12px 0;
  width: 780px;

  &.error {
    color: $brand-danger;
    padding-left: 8px;
  }

  .col-2 {
    width: 50%
  }

  .col-3 {
    width: 33%;
  }

  .col-4 {
    width: 25%;
  }

  .col-5 {
    width: 20%;
  }

  .menu-section {
    padding-left: 15px;
    vertical-align: top;
    display: inline-block;
    word-break: break-word;

    .menu-section-header {
      font-family: FontAwesome, $font-family-sans-serif;
      color: $brand-primary;
    }

    .menu-loading {
      padding-left: 8px;
    }

    img {
      margin-bottom: 4px;
      margin-top: 5px;
    }


    ul {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      padding: 0;
      list-style-type: none;

      li {
        padding-bottom: 5px;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
      }

      li a {
        color: $text-color;
      }
      li a:focus, li a:hover {
        color: $link-hover-color;
      }

      &.col-1 {
        width: 95%;
      }
      &.col-2 {
        width: 45%;
      }
    }

    .overflow-link {
      float: left;
      margin: 0 5px;

      a {
        color: $brand-primary;
      }
    }

    hr {
      margin-top: 3px;
      margin-bottom: 5px;
      border-top-color: $brand-primary;
      height: 3px;
      background-color: $light-gray;
      border: none;
    }
  }
}

.empty-section {
  font-style: italic;
  color: $light-gray;
}

.empty-section-link {
  a {
    color: $brand-primary !important;
  }
}

.navbar {
  .container {
    padding: 0;
  }

  .navbar-left {
    // Triangle pointing menu to header nav element
    .navbar-connector {
      position: absolute;
      top: -10px;
      left: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
    }

    .open .dropdown-menu {
      top: 120%;
    }
  }

  .navbar-right {
    // Triangle pointing menu to header nav element
    .navbar-connector {
      position: absolute;
      right: 18px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
    }

    .open .dropdown-menu {
      top: 125%;
    }
  }
}


.sub-nav {
  border-radius: 0;
}

.navbar-inverse {
  min-height: 15px;

  & > .container {
    display: flex;
    position: relative;
  }

  .parent-nav {

    li {
      a {
        color: #222 !important;
        font-size: small;
        padding: 8px 10px 8px 0;
        white-space: nowrap;
      }

      i.fa {
        font-size: smaller;
      }

      &:after {
        border-left: 1px solid #cbccce;
        content: '';
        height: 34px;
        margin-top: -16px;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }

  .tab-scroll-ct {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;

    .navbar-nav {
      margin: 0;

      & > li {
        display: inline-block;
        float: initial !important;

        & > a {
          border-bottom: 3px solid transparent;
          font-size: small;
          padding: 8px 10px;

          &:hover {
            border-bottom: 3px solid lighten($brand-secondary, 15%);
          }
        }

        &.active > a {
          border-bottom: 3px solid $brand-secondary;
        }
      }
    }
  }

  .scroll-btn-group {
    display: inline-flex;

    &:before {
      border-left: 1px solid #cbccce;
      content: '';
      height: 34px;
      margin-top: -18px;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }

    & > .btn {
      border: none;
      font-size: smaller;
    }
  }
}

.menu-section-icon {
  font-size: 22px;
  vertical-align: middle;
}

.user-name,
.project-name {
  border-radius: 4px;
  background-color: white;
  padding: 8px 12px 10px 12px;
}

#user-menu-dropdown {
  box-shadow: none;
  text-decoration: none;
}

.user-name {
  font-family: FontAwesome, $font-family-sans-serif;
}

.navbar__search-form {
  height: 34px;

  .navbar__search-icon {
    position: absolute;
    top: 8px;
    margin-left: 5px;
    color: $gray-light;
  }

  .navbar__search-input {
    padding: 7px 4px 7px 22px;
    border-radius: 4px;
    border-style: none;
  }
}

.navbar__xs-search-icon {
    cursor: pointer;
    font-size: 20px;
    margin-top: 6px;
    color: $white;
}

.navbar-icon-button-right {
    margin-top: -10px;
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    padding-right: 0;
    padding-left: 0;

    // dropdown menu is a sibling of the button.
    ~ ul.dropdown-menu {
      padding-top: 0;
    }
}

.navbar-icon {
    color: $brand-primary;
    margin-right: 15px;
}

.navbar-icon-connector {
    position: absolute;
    right: 18px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $white transparent;
}

.product-menu-item {
  padding-right: 5px;
}
