.notification-container {
  margin-top: 10px;
    a:hover {
        cursor: pointer;
    }
}

.fa-stack[data-count]:after{
    position:absolute;
    right:-20px;
    content: attr(data-count);
    font-size:75%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background: $brand-warning;
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

#server-notifications {
    .popover-content {
        padding: 0;
    }
}

.server-notifications {
    color: $brand-primary;
    margin-right: 15px;
}

.server-notifications-icon {
    color: white;
    font-size: 22px;
    margin-top: 5px;
}

.server-notifications-listing {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;

    & > li {
      margin-bottom: 5px;
      border-bottom: 1px solid $gray-lighter;
      padding-left: 15px;
      padding-right: 15px;

    &:hover {
        background-color: $gray-lighter;
    }
    .has-error {
        color: $brand-danger;
    }
    .is-complete {
        color: $brand-success;
    }
    .is-unread {
        font-weight: bold;
    }
  }
}

.server-notification-message {
    margin-left: 5px;
}

.server-notifications-link {
    color: $brand-primary;
    &:hover {
        cursor: pointer;
    }
}

.server-notification-data {
    color: $gray-light;
}


.server-notifications-footer {
    margin-left: 15px;
    margin-bottom: 5px;
    &.server-notifications-error {
        color: $brand-danger;
    }
}
