.notification-container {
  margin-top: 10px;
    a:hover {
        cursor: pointer;
    }
}

.fa-stack[data-count]:after{
    position:absolute;
    right:-16px;
    content: attr(data-count);
    font-size:75%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: $white;
    background: #FA6400;
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

.server-notifications-icon {
    color: $white;
    font-size: 22px;
}

.server-notifications-listing-container {
    max-height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid lightgray;
}

.server-notifications-listing {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    width: 350px;

    & > li {
        border-bottom: 1px solid $gray-lighter;
        padding: 5px 15px;
        cursor: default;

        &:hover {
            background-color: $gray-lighter;
        }
        .has-error {
            color: $brand-danger;
        }
        .is-complete {
            color: $brand-success;
        }
        &.is-unread {
            cursor: pointer;
        }
        .is-unread {
            .server-notifications-item-subject {
                font-weight: bold;
            }
        }
  }
}

.server-notification-message {
    margin-left: 5px;

    .server-notifications-item-subject {
        color: $brand-primary;
    }

    .server-notifications-item-details {
        padding-top: 5px;
        display: inline-block;
    }

}

.server-notifications-item {
    &:hover {
        cursor: pointer;
    }
}

.server-notification-data {
    color: $gray-light;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.server-notifications-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: $gray-lighter;
    border-bottom: 1px solid $gray-light;
    border-radius: 5px 5px 0 0;
}

.server-notifications-footer {
    margin: 15px 0 5px 15px;
    width: 350px;
    &.server-notifications-error {
        color: $brand-danger;
    }
}

.server-notifications-button {
    .fa-stack {
        height: 3em;
        line-height: 3em;
    }
}

.server-notifications-link {
    color: $brand-primary;
    &:hover {
        cursor: pointer;
    }
}
