.notification-container {
  margin-top: 10px;
    a:hover {
        cursor: pointer;
    }
}

.server-notifications-listing-container {
    border-bottom: 1px solid lightgray;
    max-height: 500px;
    overflow-y: auto;
    width: 350px;
}

.server-notifications-listing {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        border-bottom: 1px solid $gray-lighter;
        padding: 5px 15px;
        cursor: default;

        &:hover {
            background-color: $gray-lighter;
        }
        .has-error {
            color: $brand-danger;
        }
        .is-complete {
            color: $brand-success;
        }
        &.is-unread {
            cursor: pointer;
        }
        .is-unread {
            .server-notifications-item-subject {
                font-weight: bold;
            }
        }
    }
    & > li:last-of-type {
        border-bottom: none;
    }
}

.server-notification-message {
    margin-left: 5px;

    .server-notifications-item-subject {
        color: $brand-primary;
    }

    .server-notifications-item-details {
        padding-top: 5px;
        display: inline-block;
    }

}

.server-notifications-item {
    &:hover {
        cursor: pointer;
    }
}

.server-notification-data {
    color: $gray-light;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.server-notifications-footer {
    padding: 15px;

    &.server-notifications-error {
        color: $brand-danger;
    }
}

.server-notifications-link {
    color: $brand-primary;
    text-transform: none;

    &:hover {
        cursor: pointer;
    }
}

.job-status-log-entry {
    white-space: pre-wrap;
}

.job-status-log-entry {
    white-space: pre-wrap;
}

.job-status-log-entry-warn {
    color: $brand-warning;;
}

.job-status-log-entry-error {
    color: $brand-danger;
}

.btn.server-notifications-button {
    .badge {
        padding-left: 6px;
        background: $badge-color;
    }
}

.clickable-text {
    cursor: pointer;
    color: $brand-primary;

    &:hover {
        text-decoration: underline;
        color: darken($brand-primary, 15);
    }

    .fa {
        // Ensures icon/text alignment when next to each other
        width: 18px;
    }
}

.page-detail-header-title-padding {
    padding-left: 10px;
}

.message-list {
    list-style: none;
    padding-left: 0;

    & > li:not(:last-child) {
        margin-bottom: 15px;
    }
}

.release-note-container {
    background: linear-gradient(90deg, #D6E9C6 60px, $white 60px);

    .release-note-new {
        font-weight: bold;
        padding-right: 30px;
    }
}
