.ontology-browser-container {

    .filter-panel-row {
        min-width: 460px;
        width: 100%;

        .filetree-container {
            min-height: 200px;
            height: 25vh;
        }

        .concept-search-container {
            padding-bottom: 15px;
        }
    }

    .left-panel {
        border-right: 1px solid $gray-border;
    }

    .concept-information-tabs {
        padding: 0 15px 0 25px;
    }

    .filetree-directory-name {
        max-width: unset;
        width: max-content;
    }

    .filetree-file-name {
        margin-right: unset; //Allow filter icon to show next to name
    }

    .filetree-checkbox-container {
        padding-right: 15px;

        // by default the filter icons are hidden, until node is active/hovered or filter is selected
        i.fa.fa-filter {
            display: none;
            padding: 0 3px 0;
            color: $light-gray;
        }
        &.active i.fa.fa-filter, i.fa.fa-filter.selected, &:hover i.fa.fa-filter {
            display: block;
        }

        // filter icon color defaults to light gray, until selected
        i.fa.fa-filter.selected {
            color: unset;
        }

        // hover over unselected filter icon changes color to unset (black)
        i.fa.fa-filter:hover {
            color: unset;
        }
    }


    .filetree-container {
        min-height: 300px;
        height: 65vh;
    }

    .title {
        font-weight: bold;
    }
}

.concept-search-container {
    padding-bottom: 30px;

    input {
        max-width: 450px;
    }

    .result-menu {
        margin: 0;
        padding: 0;
        z-index: 1000;
        position: absolute;
        list-style: none;
        background-color: $white;
        border: 1px solid $gray-border;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);

        max-height: 500px;
        overflow-y: auto;
        min-width: 450px;
        max-width: 800px;
        width: 65vw;

        li.selectable-item {
            cursor: pointer;
            &:hover {
                background-color: $gray-lighter;
            }
        }

        li .row {
            margin: 0;
            border-bottom: 1px solid $gray-border;
            display: flex;

            .col {
                color: $gray-light;
                padding: 10px;
                border-right: 1px solid $gray-border;
                display: flex;
            }

            .bold {
                font-weight: bold;
            }
        }

        li:last-child .row {
            border-bottom: none;
        }
        li .row .col:last-child {
            border-right: none;
        }

        .result-footer {
            color: $gray-light;
            font-size: 12px;
            padding: 10px;
        }
    }
}

/* CONCEPT OVERVIEW */
.ontology-concept-overview-container {
    padding-top: 10px;
    padding-right: 5px;
    min-height: 315px;
    height: 67vh;
    overflow-y: auto;

    .none-selected {
        font-size: 20px;
        color: $gray-light;
    }

    .title, .description-title, .description-text, .synonyms-title, .synonyms-text {
        color: $text-color;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    .description-title, .synonyms-title {
        font-weight: bold;
        padding-top: 30px;
    }

    .code {
        display: inline-block;
        padding: 5px;
        border: solid $gray-no-highlight 1px;
        border-radius: 2px;
        background-color: $light-gray;
        font-size: 14px;
    }

    .synonyms-text {
        padding-left: 15px;

        li {
            padding-top: 5px;
        }
    }

    .path-button-container {
        float: right;
        width: 80px;
        margin-left: 5px;
    }

    .concept-overview-selected-path {
        width: 100%;

        .concept-path-container {
            width: 100%;
            border: $gray-lighter;
        }

        &:before {
            content: "";
            float: right;
            line-height: 0;
            margin-top: -20px;
            margin-right: 26px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $gray-lighter;
        }
    }
}

/* PATH INFORMATION */
.ontology-concept-pathinfo-container {
    padding-top: 10px;

    .none-selected, .no-path-info {
        font-size: 20px;
        color: $gray-light;
    }
}

.concept-pathinfo-container {
    min-height: 315px;
    height: 65vh;
    overflow-y: auto;

    .title {
        font-size: 20px;
    }

    .current-path-container, .alternate-paths-container {
        padding-top: 15px;

        .title {
            font-size: 14px;
        }

        .no-path-info {
            font-size: 14px;
            padding: 15px;
        }
    }

    .alternate-paths-container .concept-path-container:hover {
        background-color: $gray-lighter;
        cursor: pointer;
    }
}

.concept-path-container {
    color: $text-color;
    display: inline-block;
    padding: 15px;

    &.selected {
        background-color: $gray-lighter;
    }

    .title {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .concept-path-spacer {
        padding: 0 5px 0;
    }

    .concept-path-label {
        line-height: 23px;
    }
}

.popover-concept-overview {
    max-height: 250px;
    min-width: 300px;
    display: block;
    overflow-y: auto;

    .ontology-concept-overview-container {
        height: unset;
        overflow-y: unset;
    }
}
