.ontology-browser-container {

}
.ontology-browser-left-panel {

}
.ontology-browser-panel-right-panel {

}

.ontology-browser-title-name {
    font-size: 60px;
    font-weight: bold;
}
.ontology-browser-title-count {
}


/* CONCEPT OVERVIEW */
.ontology-concept-overview-title {
    font-size: 40px;
}

.ontology-concept-overview-description-title {
    font-weight: bold;
}

.ontology-concept-overview-description-text {

}


