.tooltip.lk-tooltip,
.popover.lk-popover {
    z-index: 1100;
}

.tooltip.lk-tooltip {
    margin: 0;
}

.popover.lk-popover {
    display: block;
    max-width: 276px;
}

.overlay-trigger {
    position: relative;
    display: inline-block;
}
