.loading-page-message {
  font-size: 25px;
}

.loading-data-message {
  font-size: 20px;
}

.lk-content-blur {
    -webkit-filter: blur(7px) grayscale(25%);
    -moz-filter: blur(7px) grayscale(25%);
    -o-filter: blur(7px) grayscale(25%);
    -ms-filter: blur(7px);
    filter: blur(7px) grayscale(25%);
}
