.paging-counts-without-buttons {
  margin-top: 8px;
  display: inline-block;
}

.paging-counts-with-buttons {
  padding-right: 10px;
}

.lk-pagination {
    display: flex;
}

.lk-pagination > * {
    margin-left: 1em;
}
