.panel-content {
    @include panel-variant($panel-content-border, $panel-content-text, $panel-content-heading-bg, $panel-content-border);

    & > .panel-heading {
        border-bottom: none;
        margin: 15px 15px 0 15px;
        padding: 0;

        &.panel-content-flex {
            display: flex;
            justify-content: space-between;

            @media (max-width: $screen-md-min) {
                flex-wrap: wrap;
            }
        }

        &.panel-content-large {
            margin-bottom: 32px;
        }

        .panel-content-title-container {
            display: inline-block;
        }

        .panel-content-title,
        .panel-content-title-medium {
            display: inline-block;
            font-weight: normal;
            font-size: 18px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .panel-content-title-large {
            display: inline-block;
            font-weight: normal;
            font-size: 28px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .panel-content-caption {
            font-weight: 300;
        }
    }
}

.panel-default:not(.domain-form-panel) .panel-heading,
.panel-info .panel-heading {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}
.panel-default:not(.domain-form-panel) .panel-heading {
    background-color: $white;
    border-bottom: none;
    margin: 15px 15px 0 15px;
    padding: 0;
}
.section-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 3px;
}

// Override the default margin for h* elements within a panel heading
.panel-heading:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
}


// revert panel heading font-size for those within a tabbed-grid-panel
.tabbed-grid-panel .panel-heading {
    font-size: 14px !important;
}

.side-panels-container {
    width: 100%;
    border: 1px solid $gray-border-light;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.merged-panels-container {
    background-color: $white;

    & .panel {
        border: none;
        margin: 0;
        border-radius: 0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    }
}

.vertical-scroll-panel {
    overflow: auto;
}

.heading4 {
    font-size: 16px;
    font-weight: 700;
}
.heading5 {
    font-size: 14px;
    font-weight: 700;
}
.heading6 {
    font-size: 12px;
    font-weight: 500;
}
