// Note that classes with the prefix permissions-groups are used in both the Permissions and the Groups page

.permissions-groups-assignment-panel {
    & > .row {
        margin: 15px 0 0 0;
    }

    & .container-expandable-heading--clause {
        margin-left: 38px !important;
    }
}

.permissions-groups-expandable-container {
    padding: 15px;
}

.permissions-button-group {
    margin: 5px 5px 0 0;
    display: flex;

    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.permissions-button-removed {
    opacity: 0;
}

.permissions-button-display {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.permissions-button-added {
    animation: shadow-pulse 1s 1;
}

.permissions-groups-ul {
    padding-left: 15px;
}

.permissions-groups-members-ul {
    padding-left: 0;
}
.permissions-groups-member-li {
    display: block;
}
.permissions-groups-member-none {
    color: $list-group-disabled-text-color
}

.permissions-assignments-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.principal-detail-label {
    color: $gray;
    padding-bottom: 15px;
}

.principal-detail-value {
    overflow-wrap: break-word;
    padding-bottom: 15px;
}

.principal-hr {
    margin-top: 5px;
    margin-bottom: 20px;
}

.principal-detail-ul {
    padding-left: 0px;
}

.principal-detail-li {
    display: block;
    padding-bottom: 5px;
}

.permissions-groups-additiona-roles-header {
    font-size: 18px;
    margin: 30px 15px 15px 0;
}
