.status-pill,
.status-icon {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    white-space: break-spaces;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;

    &.disabled {
        background-color: $gray-lighter;
        border-color: $gray-border;
    }
    &.muted {
        color: $gray;
        border-color: $gray-border;
    }

    &.warning,
    &.submitted,
    &.needs-review,
    &.awaiting-review {
        color: #8A6D3B;
        background-color: #FCF8E3;
        border-color: #FAEBCC;
    }
    &.danger,
    &.rejected,
    &.inactive,
    &.recalled,
    &.reopened,
    &.overdue {
        color: #D9534F;
        background-color: #FDDEDE;
        border-color: #F9B5B3;
    }
    &.success,
    &.active,
    &.approved {
        color: #3C763D;
        background-color: #F0F8ED;
        border-color: #D6E9C6;
    }
    &.info,
    &.in-progress,
    &.needs-changes {
        color: #0088CC;
        background-color: #F1F9FC;
        border-color: #C9E6F2;
    }
    &.template {
        background-color: #E8DAFF;
        color: #6929C4;
        border-color: #D2BCF8;
    }
}

.status-icon.fa {
    border-radius: 50%;
    font-size: 14px;
    width: 20px;
    padding: 2px;
    margin-right: 0.2em;
    text-align:center;
    margin-left: 0.2em;
}
