
.sampleset-insert--parent-select {
  padding-right: 5px;
}

.sample-insert--link {
  padding-top: 5px;
}

.creation-type-modal-label {
    font-weight: normal;
}

.creation-type-choice {
    margin-left: 8px;
    font-weight: normal;
    color: $gray;
    display: inline-block;

    &.selected {
        color: $gray-base;
    }
}

.creation-type-choice-description {
    margin-top: 8px;
}

.creation-type {
    padding: 8px;

    &.selected {
        background: $blue-bkgrd-selected;
    }

    &:hover {
        cursor: pointer;
    }
}

.creation-type-radioinput {
    padding-bottom: 16px;
    color: $gray;

    .radioinput-input {
        margin: 6px 6px 6px 0;
    }

    .radioinput-label.selected {
        color: $gray-base;
    }
}

.creation-per-parent-select {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 100px;

    &.has-error {
        border-color: $red-border;
    }
}

.creation-type-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding-top: 5px;
    img {
        display: block;
    }
}

.find-by-ids-field-label {
    font-weight: normal;
    display: block;

    & > input {
        margin-right: 8px;
    }
}

.find-samples-header-panel {
    & .panel-heading.panel-content-flex.panel-content-large {
        margin-bottom: 0;
    }
    & .panel-body {
        padding-bottom: 0;
    }
}

.find-samples-success {
    color: $brand-success;
}

.find-samples-warning {
    color: $brand-warning;
}

.find-samples-warning-toggle {
    cursor: pointer;
}

.edit-parent-danger {
    color: $brand-danger;
}

.sample-aliquots-details-meta-table {
    margin-bottom: 0;
}

.sample-status-header {
    display: inline-block;
    margin-right:8px;
}

.sample-status-header-button {
    vertical-align: top;
}

.sample-status-header-tag {
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.sample-status-warning {
    font-style: italic;
}


.sample-status-icon.fa {
    border: none;
    border-radius: 50%;
    font-size: 14px;
    width: 20px;
    padding: 2px;
    margin-right: 0.2em;
    text-align:center;
    margin-left: 0.2em;
}

.sample-status-legend--table {
    tr td {
        padding: 5px;
        max-width: 300px;
        vertical-align: top;
    }

    .sample-status-legend--description {
        padding-top: 10px;
    }
}
