.sample-insert--header {
  margin-bottom: 30px;
}

.sample-insert--parent-label, .sample-insert--remove-parent {
  padding-top: 7px;
}

.sampleset-insert--parent-select {
  padding-right: 5px;
}

.has-error .Select-control {
  border-color: $red-border;
  box-shadow: inset 0 0 5px 0 $red-shadow, 0 0 5px 0 $red-shadow;
}

.parent-alias-label.has-error {
  color: $red-border;
}

.container--removal-icon:hover {
  color: #D0021B
}

.sample-insert--headerhelp {
  color: grey;
  padding-bottom: 15px;
  font-size: 13px;
}

.sample-insert--link {
  padding-top: 5px;
}
