// #Search
// Search fields.

.search-result__card-icon {
  max-width: 80px;
  max-height: 80px;
}

.search-result__card-icon--small {
  max-width: 50px;
  max-height: 50px;
  margin-left: 10px;
}

.search-result__card-icon__container {
  padding: 5px 8px;
  line-height: 80px;
}

.search-result__card-container {
  border: 1px solid #eee;
  border-radius: 4px;
  height: 105px;
  margin: 0;
  padding: 0 10px;
}

.search-result__container {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: pointer;
}

.search-results__margin-top {
  margin-top: 10px;
}

.search-results__amount {
  margin-bottom: 25px;
  margin-top: 0;
}

.search-form__advanced-toggle {
  cursor: pointer;
}

.search-form__advanced-title{
  padding-left: 1px;
}


.search-parent-entity-panel {
    .field_count_circle {
        border-radius: 50%;
        text-align: center;
        font-size: 9pt;
        color: white;
        width: 15px;
        line-height: 15px;
        background-color: #FA6400;
        display: inline-block;
    }

    .search_field_dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FA6400;
        margin-top: 5px;
    }

    .search-field-col-title {
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 16px;
    }

    .search-field-col-sub-title {
        font-weight: bold;
        padding: 25px 0 10px 0;
    }

    .search-parent-entity-col {
        padding-right: 0;
        padding-left: 8px;
    }

    .search-parent-entity-col.col-xs-6 {
        padding-right: 8px;
    }

    .search-parent-entity-col-div {
        height: 470px;
        overflow: scroll;
        border: 1px solid lightgray;
        margin-bottom: 20px;

        .list-group-item {
            border: none;
        }

        .search-field-tabs {
            padding: 8px 15px;
        }

        .search-field-tabs.content-tabs {
            .nav-tabs {
                border-bottom: 1px solid lightgray;
            }
        }
    }

    .search-filter-and {
        padding: 8px 0;
    }

    .search-filter-input-wrapper {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .search-filter-input {
        width: 75%;
        padding-left: 15px;
    }

    .search-filter-input-select {
        width: 75%;
    }

}

