
.margin-top {
  margin-top: 10px;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.full-width {
    width: 100%;
}

.bottom-spacing {
  padding-bottom: 15px;
}

.bottom-spacing-less {
    padding-bottom: 5px;
}

.top-spacing {
  padding-top: 15px;
}

.button-right-spacing {
    margin-right: 15px;
}

.panel-divider-spacing {
  padding: 35px 0;
}

.panel-active .panel-heading {
  box-shadow: inset 0 3px 0 0 $brand-secondary;
}

.as-primary-color {
  color: $brand-primary;
}

.as-secondary-color {
  color: $brand-secondary;
}

.right-spacing {
    padding-right: 15px;
}

.left-spacing {
    padding-left: 15px;
}

.display-light {
    color: darkgray
}

.section-panel--title-container-large {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
}

.section-panel--title-large {
    display: inline-block;
    font-size: 200%;
    margin-bottom: 8px;
}

.section-panel--title-caption-large, .section-panel--title-caption-medium {
    font-weight: 300;
    margin-bottom: 8px;
}

.section-panel--title-container-medium {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 15px;
}

.section-panel--title-medium {
    display: inline-block;
    font-size: 125%;
    color: $gray-light;
    margin-bottom: 8px;
}
