
.margin-top {
  margin-top: 10px;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.full-width {
    width: 100%;
}

.bottom-spacing {
  padding-bottom: 15px;
}

.bottom-spacing-less {
    padding-bottom: 5px;
}

.top-spacing {
  padding-top: 15px;
}

.top-spacing-less {
  padding-top: 5px;
}

.button-right-spacing {
    margin-right: 15px;
}

.button-left-spacing {
    margin-left: 15px;
}

.button-small-padding {
    padding: 3px 8px;
}

.panel-divider-spacing {
  padding: 35px 0;
}

.panel-active .panel-heading {
  box-shadow: inset 0 3px 0 0 $brand-secondary;
}

.as-primary-color {
  color: $brand-primary;
}

.as-secondary-color {
  color: $brand-secondary;
}

.right-spacing {
    padding-right: 15px;
}

.small-right-spacing {
    padding-right: 8px;
}

.left-spacing {
    padding-left: 15px;
}

.small-left-spacing {
    padding-left: 8px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-left-more {
    margin-left: 20px;
}

.display-light {
    color: darkgray
}

.alert {
    .alert-button {
        padding: 0 12px;
    }
}

.pointer {
    cursor: pointer;
}

.smaller-font {
    font-size: 85%;
}

.font-large {
    font-size: $font-size-large;
}

// TODO usages of this can be replace with text-danger
.error-msg {
    color: $brand-danger;
}
