
.margin-top {
  margin-top: 10px;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.full-width {
    width: 100%;
}

.bottom-spacing {
  padding-bottom: 15px;
}

.top-spacing {
  padding-top: 15px;
}

.panel-divider-spacing {
  padding: 35px 0;
}

.panel-active .panel-heading {
  box-shadow: inset 0 3px 0 0 $brand-secondary;
}

.as-primary-color {
  color: $brand-primary;
}

.as-secondary-color {
  color: $brand-secondary;
}

.right-spacing {
    padding-right: 15px;
}

.left-spacing {
    padding-left: 15px;
}

.display-light {
    color: darkgray
}
