.name-id-setting__setting-panel-title {
    border-bottom: 1px solid #eeeeee;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.name-id-setting__setting-section h5 {
    font-weight: bold;
    margin: 16px 0;
}

.name-id-setting__prefix {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.name-id-setting__prefix-label {
    margin-right: 10px;
}

.name-id-setting__prefix-field {
    margin-right: 10px;
}

.name-id-setting__prefix-example {
    margin-top: 10px;
    margin-left: 48px;
    color: #999999;
}

.name-id-setting__error {
    margin-top: 20px;
}
