.setting-panel-title {
    border-bottom: 1px solid #eeeeee;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.setting-prefix {
    margin-bottom: 20px;
}

.setting-section h5 {
    font-weight: bold;
    margin: 16px 0;
}

.prefix {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.prefix-label {
    margin-right: 10px;
}

.prefix-field {
    margin-right: 10px;
}

.prefix-example {
    margin-top: 10px;
    margin-left: 48px;
    color: #999999;
}
