.admin-settings-error {
    margin: 20px 0 0 0;
}

.name-id-setting__setting-section h5 {
    font-weight: bold;
    margin: 16px 0;
}

.name-id-setting__prefix {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.name-id-setting__prefix-label {
    margin-right: 10px;
}

.name-id-setting__prefix-field {
    margin-right: 10px;
}

.name-id-setting__prefix-example {
    margin-top: 10px;
    margin-left: 48px;
    color: #999999;
}

.name-id-setting__error {
    margin-top: 20px;
}

.delete-project-button {
    margin-right: 14px;
}

.delete-project-modal__text {
    margin-bottom: 20px;
}

.delete-project-modal__spinner {
    display: block;
    margin-top: 5px;
}

.delete-project-modal__table {
    margin-top: 5px;
    table-layout: fixed;
    margin-bottom: 12px;

    tbody tr:first-child td {
        border-top: none;
    }

    tbody td:nth-child(2) {
        text-align: right;
    }

    tbody tr:last-child:not(:first-child) td {
        border-bottom: 1px solid $gray-border-light;
    }
}

.delete-project-modal__comment {
    margin-top: 12px;
}

.deleting-project-modal-text {
    margin-bottom: 10px;
}

.progress {
    margin-bottom: 10px;
}

.project-faceted-data-type {
    margin-bottom: 5px;

    .help-block {
        margin-top: 0;
        margin-bottom: 0;
    }
    .project-datatype-faceted__value {
        display: inline-block;
        padding-right: 5px;
        word-break: break-all;
        color: $text-color;

        &:hover {
            cursor: pointer;
        }

        .label_color {
            margin-right: 5px;
        }
    }
    .overlay-trigger {
        max-width: 100%;
    }
    .short_description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }
}

.sample-counter-btn {
    width: 205px;
    margin-right: 20px;
    text-align: left;
}


