.dropdown-submenu {
  // relative to allow for drop arrow
  position: relative;

  & > a {
    cursor: pointer;
    outline: 0;
  }

  // for drop arrow
  & > i.fa {
    color: lightgray;
    font-size: 8pt;
    position: absolute;
    right: 5px;
    top: 8px;

    &:hover {
      color: darken(lightgray, 10%);
    }
  }

  ul {
    //background-color: #f5f5f5;
    list-style: none;
    margin: 0;
    padding: 0;

    // This is a clone of ".dropdown-menu > li > a"
    & > li > a, & > li > div.dropdown-menu-row {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857;
      color: #333333;
      white-space: nowrap;
      cursor: pointer;
      outline: 0;

      &:hover, &:focus {
        text-decoration: none;
        //background-color: darken(#f5f5f5, 10%);
      }
    }

    // Active state
    & > li.active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
      }
    }
  }
}
