@use "sass:color";

.dropdown-submenu {
  // relative to allow for drop arrow
  position: relative;

  & > a {
    cursor: pointer;
    outline: 0;
  }

  // for drop arrow
  & > i.fa {
    color: lightgray;
    font-size: 8pt;
    position: absolute;
    right: 5px;
    top: 8px;

    &:hover {
      color: color.adjust(lightgray, $lightness: -10%);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    // This is a clone of ".dropdown-menu > li > a"
    & > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857;
      color: #333333;
      white-space: nowrap;
      cursor: pointer;
      outline: 0;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    // Active state
    & > li.active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
      }
    }
  }

  .disabled a {
      color: $text-color-light;
  }
}

.dropdown-header {
    text-transform: uppercase;
}
.dropdown-header.submenu-footer {
    text-transform: unset;
}
