.content-tabs {
    .nav-tabs {
        border-bottom: 0;
        display: flex;

        & > li {
            flex: auto;

            &:first-child {
                max-width: 50%;
            }

            & > a {
                background-color: inherit;
                border: 3px solid transparent;
                color: $gray-lighten;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        & > li.active {

            & > a {
                border: 3px solid transparent;
                border-bottom: 3px solid $brand-secondary;
                color: $gray-dark;
            }
        }
    }
}

.form-step-tabs {
    & > .nav-tabs {
        border-bottom: 0;
        display: flex;

        & > li {
            flex: auto;
            max-width: 144px;
            margin-right: 8px;

            & > a {
                background-color: $white;
                border: 1px solid #C7C7C7;
                border-radius: 0;
                color: $gray-dark;
                text-align: center;
                white-space: nowrap;
            }
        }

        & > li.active {

            & > a {
                background-color: $blue-bkgrd-selected;
                border: 1px solid $brand-primary;
                color: $brand-primary;
            }
        }
    }
}
