.user-text-link {
  cursor: pointer;
}

.user-section-header {
  font-size: 18px;
}

.create-users-label-bottom {
  padding-bottom: 5px;
}
.create-users-label-top {
  padding-top: 10px;
}

.user-avatar {
    width: 32px;
    border-radius: 50%;
    margin-right: 0.5em;
}
