.user-text-link {
  cursor: pointer;
}

.user-section-header {
  font-size: 18px;
}

.create-users-label-bottom {
  padding-bottom: 5px;
}
.create-users-label-top {
  padding-top: 10px;
}

.create-users-textarea {
  resize: none;
}
