.user-text-link {
  cursor: pointer;
}

.user-section-header {
  font-size: 18px;
}

// Issue 49417: user details modal to show above the app header details popover
div:has(> .user-detail-modal) > .modal-backdrop {
    z-index: 1140;
}
.user-detail-modal {
    z-index: 1150;
}

.create-users-label-bottom {
  padding-bottom: 5px;
}
.create-users-label-top {
  padding-top: 10px;
}

.api-key__button {
    margin-bottom: 3px;
}

.api-key__expiration-config {
    font-weight: bold;
}

.api-key__input {
    width: 90%;
    display: inline-block;
}
