$light-gray: #d3d3d3;
$white: #fff;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%)   !default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighten:           lighten($gray-base, 60%)   !default; // #999
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//TODO: how to set or get these from the app instead or make sure the app can override them?
$brand-danger:    #d9534f;
$brand-warning:   #f0ad4e;
$brand-primary:   #2980b9;
$brand-secondary: #236fa0;
$brand-success:   #5cb85c;
$border-color:    #cccccc;
$navbar-border-color: #cbccce;
$badge-color:   #FA6400;

$blue-highlight:       #2980B9;
$gray-no-highlight:    $gray-lighten;
$blue-icon-background: #CCE5FF;

$blue-dark:   #1e4f6f;
$text-color-gray:   #9d9d9d;

$text-color:            $gray-dark !default;
$link-hover-color:      darken($brand-primary, 15%) !default;

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Domain properties variables
$gray-border:           #cccccc;
$gray-border-light:     #dddddd;
$gray-shadow:           #F3F3F4;

$red-border:            rgba(220, 53, 69, 1);
$red-shadow:            rgba(220, 53, 69, 0.5);

$yellow-border:         rgba(255, 204, 129, 1);
$yellow-shadow:         rgba(255, 204, 129, 0.5);

$blue-border:           rgba(41, 128, 185, 0.5);
$blue-border-solid:     rgba(41, 128, 185, 1);
$blue-bkgrd-selected:   rgba(41, 128, 185, 0.1);

// Grid ActionValues variables
@mixin border-top-radius($radius)
{
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

$grid-action-item-color:                #0088cc; // pale blue
$grid-action-item-bg:                   #f1f9fc;
$grid-action-item-border-color:         #c9e6f2;
$grid-action-item-hover-bg:             darken($grid-action-item-bg, 5%);
$grid-action-item-disabled-color:       #333;
$grid-action-item-disabled-bg:          #fcfcfc;
$grid-action-item-disabled-border-color: darken($grid-action-item-disabled-bg, 10%);


// Navigation variables

//-- Z-index master list
$zindex-navbar: 1000 !default;

$footer-height: 40px;
$header-height: 62px;
$header-spacing-no-scroll: 104px;

// Panels
$panel-content-text: $text-color !default;
$panel-content-border: $gray-border-light !default;
$panel-content-heading-bg: $white !default;

$purple:                #A63AAF;

$orange:                #DA803D;
