@use "sass:color";

$brand-primary:   #2679AD;
$brand-secondary: #116596;
$brand-danger:    #D43F3A;
$brand-warning:   #F0AF4E;
$brand-success:   #238722;

$light-gray: #D3D3D3;
$white:      #FFF;
$purple:     #A63AAF;
$orange:     #DA803D;

$gray-base:    #000 !default;
$gray-darker:  color.adjust($gray-base, $lightness: 13.5%) !default; // #222
$gray-dark:    color.adjust($gray-base, $lightness: 20%)   !default; // #333
$gray:         color.adjust($gray-base, $lightness: 33.5%) !default; // #555
$gray-light:   color.adjust($gray-base, $lightness: 46.7%) !default; // #777
$gray-lighten: color.adjust($gray-base, $lightness: 60%)   !default; // #999
$gray-lighter: color.adjust($gray-base, $lightness: 93.5%) !default; // #eee

$border-color:        #CCCCCC;
$navbar-border-color: #CBCCCE;
$badge-color:         #D43F3A;

$blue-highlight:       #2980B9;
$gray-no-highlight:    $gray-lighten;
$blue-icon-background: #CCE5FF;
$gray-icon-background: #767676;

$blue-dark:        #1e4f6f;
$text-color-gray:  #9d9d9d;
$text-color-light: #6B6B6B;
$text-muted:       #767676;

$text-color:       $gray-dark !default;
$link-color:       #0F72C2;
$link-hover-color: color.adjust($link-color, $lightness: 15%) !default;

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Alert variables
$alert-info-bg:       #F1F9FC;
$alert-info-text:     #0B73B7;
$alert-info-border:   #C9E6F2;
$alert-danger-bg:     #FDE6E6;
$alert-danger-text:   #BF3939;
$alert-danger-border: #FBD1D0;

$gray-border:       #CCCCCC;
$gray-border-light: #DDDDDD;
$gray-shadow:       #F3F3F4;

$red-border:            rgba(220, 53, 69, 1);
$red-shadow:            rgba(220, 53, 69, 0.5);

$yellow-border:         rgba(255, 204, 129, 1);
$yellow-shadow:         rgba(255, 204, 129, 0.5);

$blue-border:           rgba(41, 128, 185, 0.5);
$blue-border-solid:     rgba(41, 128, 185, 1);
$blue-bkgrd-selected:   rgba(41, 128, 185, 0.1);

@mixin border-top-radius($radius)
{
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

$grid-action-item-color:                 $alert-info-text;
$grid-action-item-bg:                    $alert-info-bg;
$grid-action-item-border-color:          $alert-info-border;
$grid-action-item-hover-bg:              color.adjust($grid-action-item-bg, $lightness: 5%);
$grid-action-item-disabled-color:        $text-muted;
$grid-action-item-disabled-bg:           $gray-lighter;
$grid-action-item-disabled-border-color: $border-color;
$grid-action-item-disabled-hover-bg:     color.adjust($grid-action-item-disabled-bg, $lightness: 5%);

//-- Z-index master list
$zindex-navbar: 1000 !default;

$footer-height: 40px;
$header-height: 62px;
$header-spacing-no-scroll: 104px;

// Panels
$panel-content-text: $text-color !default;
$panel-content-border: $gray-border-light !default;
$panel-content-heading-bg: $white !default;
