@labkey:registry=https://artifactory.labkey.com/artifactory/api/npm/libs-client/
//artifactory.labkey.com/artifactory/api/npm/libs-client/:_password=AKCp5fUPDTu4i1B1KCMhCUkDwjc94SyuLVeop4wwTrCmuuS3HEDacS4eqVHvmYLSDFD9TcWDB
//artifactory.labkey.com/artifactory/api/npm/libs-client/:username=rosalinep
//artifactory.labkey.com/artifactory/api/npm/libs-client/:email=rosalinep@labkey.com
//artifactory.labkey.com/artifactory/api/npm/libs-client/:always-auth=true
