.app-body {
    margin-top: 56px;
}
.app-body.with-sub-nav {
    margin-top: 97px;
}

.app-page {
    padding-top: 20px;
}

.page-header {
  margin: 0 0 15px 0;
  padding: 0;
  border: 0;
}

.menu-section-icon {
  color:  lighten($brand-primary, 10%);
}
