.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-nav {
    min-height: 56px;
}

.app-body {
    flex-grow: 1;
    overflow: auto;
}

.sub-nav-wrapper {
    margin-bottom: 20px;
}

.page-header {
  margin: 0 0 15px 0;
  padding: 0;
  border: 0;
}

.menu-section-icon {
  color:  lighten($brand-primary, 10%);
}
