
$light-gray: #d3d3d3;
$white: #fff;

$gray-base:              #000 !default;
$gray-light:             lighten($gray-base, 46.7%) !default; // #777

//TODO: how to set or get these from the app instead or make sure the app can override them?
$brand-primary: #2980b9;
$brand-secondary: #236fa0;
$border-color: #cccccc;
