.labkey-page-nav {
  background-color: $lk-page-nav-bg-color;
  min-height: $lk-page-nav-height;

  .nav > li {
    float: left;

    & > a {
      padding: 9px 15px;
      font-family: $lk-heading-font-family;
      font-weight: $lk-page-nav-font-weight;
      cursor: pointer;
    }
  }

  .navbar-header {
    float: left;

    .dropdown-menu {
      margin: -1px 0 0;
      left: -1px;
      border-top-color: transparent;
    }

    .navbar-toggle {
      color: $lk-page-nav-text-color;
      float: left;
      margin: 0;
    }

    & > .nav > li {
      background-color: $lk-page-nav-bg-color;

      & > a {
        color: $lk-page-nav-text-color;
      }

      & > .dropdown-backdrop {
        display: none;
      }

      &:hover,
      &:focus,
      &.open {
        background-color: $lk-page-nav-active-bg-color;

        & > a {
          background-color: $lk-page-nav-active-bg-color;
          color: $lk-page-nav-active-text-color;
          text-decoration: none;
        }
      }
      &.dropdown-folder-nav {
        background-color: $lk-nav-dropdown-color;
      }
    }
  }

  .lk-nav-tabs-ct {
    float: right;
    padding: 5px 0 0 15px;
    margin-right: 0;
  }

  .lk-nav-tabs {
    // Navigational tabs (provided by study projects for example), in the md and lg formats.
    & > li {
      float: left;
      background-color: $lk-page-nav-secondary-tab-bg-color;
      margin: 0 3px;
      border-radius: 3px 3px 0 0;

      & > a {
        color: $lk-page-nav-secondary-tab-text-color;
        display: inline-block;
        border-radius: 3px 3px 0 0;
        padding: 6px 15px 7px 15px;
      }

      &:hover,
      &:focus,
      &.active,
      &.open {
        background-color: $lk-page-nav-primary-tab-bg-color;

        & > a {
          text-decoration: none;
          background-color: $lk-page-nav-primary-tab-bg-color;
          color: $lk-page-nav-primary-tab-text-color;
        }
      }
    }

    @media (max-width: $lk-screen-sm-min) {
      position: static;
      float: right;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        font-size: $lk-font-size-large;
        background-color: $lk-dropdown-bg-color;
        color: $lk-dropdown-link-color;
        position: absolute;
        top: 90px;
        overflow: hidden;
        background-clip: padding-box;
        z-index: 9000;
        height: auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        left: 0;
        right: 0;

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li > a {
            display: block;
            padding: 8px 15px 8px 45px;
          }
        }
      }
    }
  }

  .lk-nav-tabs-admin {
    & > li > a {
      &#addTab {
        padding: 6px 6px 7px 6px;
      }

      &:first-of-type {
        padding: 6px 6px 7px 15px;
      }
    }

    .dropdown > a {
      padding: 6px 6px 7px 6px;
      background-color: transparent;
    }
  }
}

.project-nav > ul {
  list-style: none;
}

.scroll-locked {
  overflow: hidden !important;
}

// see FolderMenu.java
.folder-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 400px;
  min-height: 75px;
  min-width: 280px;
  max-width: 800px;
  white-space: nowrap;
  display: inline-block;

  > ul {
    padding-left: 0 !important;
    margin: 0;
  }

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      margin-top: 0;

      a {
        display: inline-block;
        padding: 4px;
        white-space: nowrap;

        &:hover {
          white-space: nowrap;
          background-color: $lk-webpart-color;
        }
      }

      span {
        padding-left: 14px;
        margin-right: 2px;

        &.noread {
          display: inline-block;
          padding: 4px;
          white-space: nowrap;
        }
      }
    }
  }

  span:hover {
    cursor: pointer;
  }

  span.noread:hover {
    cursor: default; // 31835
  }

  .clbl span.marked {
    padding: 0 0 0 10px;
    margin: 0 3px;
  }
}

.folder-trail {
  padding: 10px;
  border-bottom: solid $dropdown-divider-bg 1px;
  white-space: nowrap;
}

.folder-tree {
  max-height: 325px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-y: auto;
  -ms-overflow-x: hidden;
  padding: 5px 50px 10px 10px;
}

.folder-menu-buttons {
  padding: 5px 5px 0 15px;
  border-top: solid $dropdown-divider-bg 1px;

  .button-icon {
    background-color: $lk-page-nav-dropdown-icon-color;
    opacity: 1.0;

    &:hover {
      background-color: $gray-base;
    }

    img {
      margin-bottom: 1px;
    }
  }

  .folder-menu-button-icon {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    width: 26px;

    a, .fa {
      color: $lk-page-nav-dropdown-icon-color;
    }
  }
}

.lk-custom-dropdown-menu {
  padding: 8px 16px;
}
