
.wizard-row--container {
  margin-bottom: 15px;
  cursor: default;
}

.wizard-row--spacer {
  padding-left: 35px;
}

.add-row--container {
  position: relative;
}

.translator--toggle__wizard {
  color: #3495D2;
}

.container--action-button {
  cursor: pointer;
}

.container--removal-icon {
  color: lightgrey;
}

.container--addition-icon {
  color: $brand-success;
}