
//TODO: how to set or get these from the app instead or make sure the app can override them?
$brand-primary: #2980b9;
$brand-secondary: #236fa0;
$brand-success: #5cb85c;
$brand-danger: #d9534f;

$blue-highlight: #2980B9;
$gray-no-highlight: #999999;

$gray-border:           #CCC;
$gray-shadow:           #F3F3F4;

$red-border:            rgba(160, 80, 76, 1);
$red-shadow:            rgba(160, 80, 76, 0.5);

$yellow-border:         rgba(250, 200, 0, 1);
$yellow-shadow:         rgba(250, 200, 0, 0.5);

$blue-border:           rgba(41,128,185,0.5);