.app-header-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(0) translateZ(0);
  width: 100%;
  z-index: $zindex-navbar;

  &.scrolled {
    position: fixed;
    transform: translateY(44px);
    top: -44px;

    & > .sub-nav {
      visibility: hidden;
    }

    &.show-sub-nav {

      & > .sub-nav {
        box-shadow: 0 2px 4px darkgrey;
        visibility: visible;
      }
    }
  }
}

.app-content-wrapper {
  padding-top: $header-height;

  &.with-sub-nav {
    padding-top: $header-spacing-no-scroll;

    & > .content-wrapper {
      min-height: calc( 100vh - ( #{$header-spacing-no-scroll} + #{$footer-height} ) );
    }
  }
}

.navbar-container {
  background-color: $brand-primary;
  margin-bottom: 0;
}

.navbar {
  & a:hover {
    text-decoration: none;
  }
}

.navbar-left {
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 12px;

  .navbar-item {
    margin-left: 20px;
  }
}

.navbar-right {
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom: 12px;

  .navbar-item {
    margin-right: 20px;
  }
}

.sticky-on-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.placeholder-with-icons {
  font-family: FontAwesome, $font-family-sans-serif
}

.product-menu-content {
  padding: 12px 15px 12px 0;
  width: 740px;

  &.error {
    color: $brand-danger
  }

  .col-2 {
    max-width: 50%
  }
  .col-3 {
    max-width: 33%;
  }

  .col-4 {
    max-width: 25%;
  }

  .col-5 {
    max-width: 20%;
  }

  .menu-section {
    padding-left: 15px;
    vertical-align: top;
    display: inline-block;
    word-break: break-word;

    .menu-section-header {
      font-family: FontAwesome, $font-family-sans-serif;
      color: $brand-primary;
    }

    img {
      margin-bottom: 4px;
      margin-top: 5px;
    }


    ul {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      padding: 0;
      list-style-type: none;

      li {
        padding-bottom: 5px;
      }

      li a {
        color: $text-color;
      }
      li a:focus, li a:hover {
        color: $link-hover-color;
      }

      &.col-1 {
        width: 95%;
      }
      &.col-2 {
        width: 45%;
      }
    }

    .overflow-link {
      float: left;
      margin: 0 5px;

      a {
        color: $brand-primary;
      }
    }

    hr {
      margin-top: 3px;
      margin-bottom: 5px;
      border-top-color: $brand-primary;
      height: 3px;
      background-color: $light-gray;
      border: none;
    }
  }
}

.empty-section {
  font-style: italic;
  color: $light-gray;
}

.navbar {
  .container {
    padding: 0;
  }
}
.sub-nav {
  border-radius: 0;
}

.navbar-inverse {
  min-height: 15px;

  & > .container {
    display: flex;
    position: relative;
  }

  .parent-nav {

    li {
      a {
        color: #222;
        font-size: small;
        padding: 8px 10px 8px 0;
        white-space: nowrap;
      }

      i.fa {
        font-size: smaller;
      }

      &:after {
        border-left: 1px solid #cbccce;
        content: '';
        height: 34px;
        margin-top: -16px;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }

  .tab-scroll-ct {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;

    .navbar-nav {
      margin: 0;

      & > li {
        display: inline-block;
        float: initial !important;

        & > a {
          border-bottom: 3px solid transparent;
          font-size: small;
          padding: 8px 10px;

          &:hover {
            border-bottom: 3px solid lighten($brand-secondary, 15%);
          }
        }

        &.active > a {
          border-bottom: 3px solid $brand-secondary;
        }
      }
    }
  }

  .scroll-btn-group {
    display: inline-flex;

    &:before {
      border-left: 1px solid #cbccce;
      content: '';
      height: 34px;
      margin-top: -18px;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }

    & > .btn {
      border: none;
      font-size: smaller;
    }
  }
}

.menu-section-icon {
  font-size: 24px;
  vertical-align: middle;
}

.project-name {
  border-radius: 4px;
  background-color: white;
  padding: 8px 12px 10px 12px;
}