
.domain-form-panel {
  min-width: 1000px;
}

.domain-form-hdr-row {
  margin: 0 0 5px 5px;
  color: $gray;
};

.domain-form-search {
  margin-bottom: 20px;
};

.domain-zero-padding {
  padding: 0
}

.domain-field-row {
  border: 1px solid $gray-border;
  border-radius: 2px;
  margin: 0 0 20px 0;
  padding: 13px 10px 5px 15px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
  background-color: white;
};

.domain-field-checkbox {
  padding-left: 25%;
  width: 12px;
  margin: 8px 0 0 0;
};

.domain-field-details {
  color: $gray-dark;
  margin: 5px 0 0 8px;
};

.domain-field-icon {
  color: $gray-light;
  padding: 0 12px;
  display: inline-block;

  &:hover {
    color: $gray-base;
    cursor: pointer;
  }
}

.domain-form-add {
  color: $gray-dark;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.domain-form-add-btn {
  color: $brand-success;
}

.domain-form-no-field-panel {
  height: 53px;
  margin: 25px 0px 20px 0px;
  padding: 20px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
}

.domain-row-expanded {
  background-color: $gray-shadow;
  margin-right: 0;
}

.domain-row-button {
  font-size: 12px;
  margin-left: 12px;
}

.domain-row-remove-button {
  background-color: $brand-danger;
  background-image: none;
  color: white;
}

.domain-field-section-heading {
  color: $gray;
  font-weight: bold;
  padding: 15px 0 5px 0;
}

.domain-field-label {
  color: $gray;
  padding: 5px 0;
}