
.domain-form-panel {
  min-width: 1000px;
}

.domain-form-hdr-row {
  margin: 0 0 5px 5px !important;
  color: $gray;
};

.domain-form-search {
  margin-bottom: 20px;
};

.domain-zero-padding {
  padding: 0
}

.domain-field-row {
  border: 1px solid $gray-border;
  border-radius: 2px;
  margin: 0 0 20px 0;
  padding: 13px 10px 5px 15px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
  background-color: white;
};

.domain-field-row-warning {
  border: 1px solid $yellow-border;
  border-radius: 2px;
  margin: 0 0 20px 0;
  padding: 13px 10px 5px 15px;
  box-shadow: inset 0 0 5px 0 $yellow-shadow, 0 0 5px 0 $yellow-shadow;
  background-color: white;
};

.domain-field-row-error {
  border: 1px solid $red-border;
  border-radius: 2px;
  margin: 0 0 20px 0;
  padding: 13px 10px 5px 15px;
  box-shadow: inset 0 0 5px 0 $red-shadow, 0 0 5px 0 $red-shadow;
  background-color: white;
};

.domain-field-checkbox {
  padding-left: 25%;
  width: 12px;
  margin: 8px 0 0 0;
};

.domain-field-details {
  color: $gray-dark;
  margin: 5px 0 0 8px;
};

.domain-field-icon {
  color: $gray-light;
  padding: 18px 12px 0 12px;
  margin: -13px 0 0 0;
  display: inline-block;

  &:hover {
    color: $gray-base;
    cursor: pointer;
  }
}

.domain-help-icon {
  margin: 0 0 2px 0;
  height: 10px;
}

.domain-help-icon:hover {
  cursor: pointer;
}

.domain-form-add {
  color: $gray-dark;
  cursor: pointer;
}

.domain-form-add-btn {
  color: $brand-success;
}

.domain-form-no-field-panel {
  height: 53px;
  margin: 25px 0px 20px 0px;
  padding: 20px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
}

.domain-row-expanded {
  background-color: $gray-shadow;
  margin-right: 0;
}

.domain-row-button {
  font-size: 12px;
  margin-left: 12px;
}

.domain-row-remove-button {
  background-color: $brand-danger;
  background-image: none;
  color: white;
}

.domain-field-section-heading {
  color: $gray;
  font-weight: bold;
  padding: 15px 0 5px 0;
}

.domain-field-label {
  color: $gray;
  padding: 7px 0 5px 0;
}

/* Text Field Options */
.domain-text-options-col {
  margin-top: 3px;
}

.domain-text-options-radio1 {
  margin: 4px 5px 5px 5px !important;
}

.domain-text-options-radio2 {
  margin: 9px 5px 5px 5px !important;
}

.domain-text-options-length {
  margin: 6px 5px 0 0 !important;
}

.domain-text-label {
  color: gray;
}

.domain-field-checkbox-label {
  margin: 3px 5px 0 0 !important;
  color: gray;
}

.domain-field-checkbox {
  margin: 7px 5px 0 0 !important;
}

.domain-field-float-left {
  float: left;
}

.domain-field-description {
  height: 85px !important;
  resize: none;
  margin-bottom: 2px;
}

.domain-help-table {
  border: 1px solid black;
}
