
.domain-form-panel {
  min-width: 1000px;
}

.domain-form-hdr-row {
  margin: 0 0 5px 5px;
  color: $gray;
};

.domain-form-search {
  margin-bottom: 20px;
};

.domain-zero-padding {
  padding: 0
}

.domain-field-row {
  border: 1px solid $gray-border;
  border-radius: 2px;
  margin: 0 0 20px 0;
  padding: 13px 10px 5px 15px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
};

.domain-field-checkbox {
  padding-left: 25%;
  width: 12px;
  margin: 8px 0 0 0;
};

.domain-field-details {
  color: $gray-dark;
  margin: 5px 0 0 8px;
};

.domain-field-advanced-icon > button,
.domain-field-advanced-icon > button:focus,
.domain-field-advanced-icon > button:hover,
.domain-field-advanced-icon > button:active{
  color: $gray-light;
  background-color: white;
  background-image: none;
  border: 0;
  outline: 0;
};

.domain-field-advanced-icon-expanded > button,
.domain-field-advanced-icon-expanded > button:focus,
.domain-field-advanced-icon-expanded > button:hover,
.domain-field-advanced-icon-expanded > button:active{
  color: $gray-light;
  background-color: $gray-shadow;
  background-image: none;
  border: 0;
  outline: 0;
};

.domain-adv-tip {
  margin-top: -13px;
  padding-top: 13px;
}

.domain-form-add {
  color: $gray-dark;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.domain-form-add-btn {
  color: $brand-success;
}

.domain-form-no-field-panel {
  height: 53px;
  margin: 25px 0px 20px 0px;
  padding: 20px;
  box-shadow: inset 0 1px 3px 2px $gray-shadow;
}

.domain-row-expanded-height {
  height: 50px;
}

.domain-row-expanded {
  background-color: $gray-shadow;
  margin-right: 0;
}

.domain-row-button {
  font-size: 12px;
}

.domain-row-remove-button {
  background-color: $red-button;
  background-image: none;
  color: white;
}

.domain-row-remove-button:hover {
  color: $red-button;
  background-image: none;
  background-color: white;
}