//== Colors
//
$white: #FFFFFF;
$lk-brand-color: #2679AD;
$lk-secondary-brand-color: #116596;
$lk-theme-dark-accent: $lk-brand-color;
$lk-theme-light-accent: $lk-secondary-brand-color;

//== Header
//
$lk-page-header-bg-color: $lk-brand-color;
$lk-page-header-icon-color: $white;
$lk-page-header-text-color: $white;
$lk-page-header-font-hover-color: $white;

//== Navigation
//
$lk-page-nav-bg-color: $lk-secondary-brand-color;
$lk-nav-dropdown-color: $lk-brand-color;

//== Navigation Tabs
//
$lk-page-nav-secondary-tab-bg-color: #73B6E0;
$lk-page-nav-secondary-tab-text-color: #0B4161;
$lk-page-nav-primary-tab-text-color: #0B4161;

//== Tabs (Bootstrap tabs)
//
$lk-nav-tab-secondary-text-color: #0B4161;
//== Pill
//
$lk-nav-pills-active-link-hover-bg: $lk-theme-dark-accent;
