

//
// Bootstrap Variable Overrides
// ** Full list of Bootstrap Variables located here
// ** https://github.com/twbs/bootstrap-sass/blob/bb7dbf8af72b455b51936bc07e51efcaf6220bcc/assets/stylesheets/bootstrap/_variables.scss
// --------------------------------------------------

//== Colors
$brand-primary:         #2980b9;
$cyan: #33e0ff;

//== Scaffolding
$body-bg:               #f3f3f4 !default;


//== Typography
$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//== Components
$border-radius-small:       2px !default;

//== Container sizes
$grid-gutter-width:             30px !default;
$container-desktop:             (970px + $grid-gutter-width) !default;

//== Navbar links
$navbar-default-link-active-color:         $cyan !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-inverse-bg:                         #fff;
$navbar-inverse-link-hover-color:           #222;
$navbar-inverse-link-active-bg:             #fff;

//== Popover
$popover-max-width:                   100000px;

//== List
$list-group-active-bg:          #226998;

//== Breadcrumb
$breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:              #999 !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          ">" !default;

// Domain properties variables
$gray-border:           #CCC;
$gray-shadow:           #F3F3F4;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables";
